<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/projects/garold/1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Гарольд та Єлизавета</h1>
            <h5>Кораблі Гарольда Сигурдсона і Єлизавети Київської є символами королівського подружжя, яке шлюбними узами
                тисячу років тому поєднало історію України та Норвегії. Історія Гарольда та Єлизавети перегукується з
                життям
                Скандинавії того періоду, де велика частина людей вирушали в пошуках кращої долі у далекі світи.
            </h5>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h5 class="description layout-left">
                    Сьогодні українці, як і скандинави 1000 років тому, так само шукають кращого життя по світах. Та
                    зараз
                    Скандинавія – один з найуспішніших регіонів, що дає змогу подивитись в ретроспективі на те, що і в
                    нас є все
                    для того, щоб проявити свою давню історичну традицію в контексті світової історії. Колись вони
                    приходили до
                    нас у найми, а тепер ми їдемо до них. Але все минає! Тому ці імена-кораблі є символом гідного
                    майбутнього
                    України в світовій спільноті завдяки відновленню давніх міжнародних зв’язків. А для цього тільки
                    варто
                    проявити свою волю!
                </h5>
                <br>
                <h5 class="description layout-left">
                    <b>Історія Гарольда ІІІ та Єлизавети Київської.</b> В середні віки Русь була найбільшою державою
                    Європи, а дочки
                    князя Ярослава Мудрого («Короля Ярослава, сина візантійської принцеси, з родом яких багато хто мріяв
                    породичатись») – бажаними дружинами в кожній з сусідніх держав. Одним із таких був брат короля
                    Норвегії
                    Гарольд ІІІ Сигурдсон, що означає «суворий радник».
                </h5>
                <h5 class="description layout-left">
                    Після невдалої війни та смерті свого брата, короля Норвегії Олофа Святого, Гарольд ІІІ поневіряється
                    по
                    світах. Спочатку іде найманцем до короля Русі Ярослава Мудрого, потім служить у Візантії. Просив
                    заміж
                    Єлизавету, дочку Ярослава, та отримав відмову. Написав низку віршів, присвячених коханій. Слав дари
                    з наймів
                    Ярославу з надією отримати Єлизавету за дружину. Зрештою таки домагається її руки, їде в Норвегію,
                    стає
                    королем. Пізніше в Англії також приймає корону, там і гине в черговій битві. А Єлизавета після його
                    смерті
                    виходить заміж за Данського принца.
                </h5>
                <br>
                <h5 class="description layout-left"><b>Будівництво кораблів</b></h5>
                <br>
                <h5 class="description layout-left">
                    На основі археологічних та етнографічних джерел, створених креслень і макетів корабля «Скулделев 5»,
                    знайденого археологами в Роскілде (Данія), та корабля-моноксила з Старосілля (Україна) здійснюється
                    будівництво реплік давніх човнів. У процесі будівництва використовуються копії середньовічних
                    інструментів:
                    сокири, тесла, ручні свердла та інше. Всі з’єднання човнів здійснюються відповідно до середньовічних
                    технологій за допомогою дерев’яних нагелів та металевих корабельних заклепок. Для ущільнення
                    використовується
                    овеча шерсть, мох та сосновий дьоготь, який, у свою чергу, є природним антисептиком і прекрасно
                    захищає
                    деревину від пересихання та потрапляння надлишку вологи.
                </h5>
                <br>
                <h5 class="description layout-left">
                    <b>Корабель «Єлизавета Київська»</b> (2018-2020 р). Довжина – 12 м, ширина – 2,8 м, висота бортів –
                    0,9 м.
                    Човен складається із заготовки, виготовленої з однієї колоди, та нашивних бортів.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Основним прототипом для створення реконструкції корабля став «старосільський човен», який знайшли в
                    2015 році
                    у річці Стир. Цей човен був покинутий на етапі будівництва, тому для реконструкції послужив також
                    віднайдений
                    човен у містечку Вжище Чернігівського князівства ХІІІ ст. Характерною особливістю човна були
                    розведені борти з
                    колоди близько 1 метра, їх розвели до 1,20 м, а сам човен довжиною приблизно 12 м. Також для
                    реконструкції
                    були задіяні всі відомі нам на сьогодні археологічні та етнографічні артефакти, пов’язані з
                    корабельною
                    справою. Важливу роль відіграли також тексти й ілюстрації, де зображені кораблі епохи ІХ-XIV ст.
                    Крім того, є
                    кілька шахових фігурок, знайдених у Білорусі, які мають форму човнів цього періоду, а ще важливим є
                    зображення
                    човна на цеглині з Новгорода. Не можна не згадати про значний пласт археологічних знахідок цілих
                    човнів та їх
                    частин, які фрагментарно доповнюють наші знання і створюють цілісну картину корабля. Дуже
                    сприятливим для
                    реконструкції цього корабля є те, що впродовж століть традиція кораблебудування на території України
                    зберегла
                    спільні риси з тим давнім часом. Так, викопні човни тисячолітньої давнини практично не відрізняються
                    від тих,
                    якими користувались в Україні навіть до середини ХХ ст.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Реконструкція розпочалась зі створення моделі-макета у пропорції 1:10 до натурального розміру. З
                    колоди
                    діаметром 10 см і довжиною 120 см була виготовлена копія човна, знайденого у Старосіллі, з пробраною
                    внутрішньою частиною, відповідно до оригіналу. Наступним етапом стало розведення бортів за допомогою
                    гарячої
                    води та розпірок, якими розтискався корпус човна до потрібної ширини. Після чого його добре
                    просушили,
                    наростили борти та вклали шпангоути.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Після цього взялися за будівництво човна в повний розмір. Повалене дерево діаметром у нижньому кінці
                    близько
                    метра було проблематично навіть повернути, що необхідно робити для обробки човна з різних сторін.
                    Дерево вагою
                    більше 5 тонн потребує особливого підходу і вивчення технологій давнини, без яких корабель не
                    побудувати. Тож
                    для перевертання колоди використовувався великий важіль, який монтувався перпендикулярно до її
                    середини, а до
                    верхнього кінця прикріплювався канат, за який тягнули, і, таким чином, колода починала котитись у
                    потрібному
                    напрямку.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Впродовж більше двох тижнів човен формувався ззовні та видовбувався зсередини до товщини стінок 4
                    см. Роботу
                    виконували 4 людей.
                    Не менш трудомістким процесом виявилось виволокти човен з лісу. На це пішло кілька днів,
                    використовувалась
                    блочна система, яка в умовах лісу працювала бездоганно.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Розмочування човна проводилось шляхом набирання у нього води, під тиском якої човен частково
                    розійшовся в
                    боки. Пізніше його на відкритому вогні розвели з ширини приблизно 85 см до 120 см. Цей етап роботи
                    відносно
                    недовгий, але дуже ризикований, бо маленький перетиск може призвести до непоправних тріщин, і вся
                    попередня
                    робота буде зведена нанівець. Останнім етапом будівництва є нашивка бортів та спорядження корабля
                    такелажем.
                </h5>
            </div>
        </div>
    </div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryElizabethImages"></ngx-gallery>

    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <br>
                <h5 class="description layout-left">
                    <b>Корабель «Гарольд Сигурдсон» </b>(2018 – 2021 р.). Початок проєкту – 21. 04.18. Довжина – 17 м,
                    ширина –
                    2,5м, висота бортів – 1,16 м.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Корабель піднято з роскілдського фіорду в 1962 році у Данії, де було знайдено 5 човнів вікінгів, які
                    там
                    умисно були затоплені. За даними археологів, човни мають у своїй конструкції деревину з різних
                    територій, що
                    вказує на ареал подорожей цих мореплавців. Всі 5 кораблів, знайдені в Роскілде, мають спільні риси у
                    своїй
                    конструкції, що свідчить про одну школу кораблебудування. Також цікавим є те, що знайдений у
                    Норвегії
                    23-метровий «гокстадський човен», захоронений приблизно 895 р., мав на борту три розбиті човни,
                    побудовані за
                    тією ж технологією. Це, у свою чергу, дає підґрунтя для гіпотези, що кораблі, затоплені в Данії,
                    могли
                    належати норвезьким королям. І були захоплені під час війни Олафа ІІ Святого з Канутом Великим у
                    1030 році, що
                    збігається з датою їх будівництва. Тому корабель «Skuldelev 5» цілком відповідає своїй назві, а саме
                    Гарольд
                    Сигурдсон, брат Олафа ІІ та Майбутній король Норвегії, і є засновником сьогоднішньої столиці
                    Норвегії Осло.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Було кілька спроб реконструювати цей човен. Найточніша на сьогодні репліка була побудована в музеї
                    Роскілде у
                    1990-1991 роках з дуба, сосни та ясена. Це реконструкція корабля «Skuldelev 5». Корабель, можливо,
                    був
                    військовим, тобто він був не лише частиною місцевої оборони, але й одним із найменших човнів
                    військового
                    флоту. Кораблі цього типу згадуються в середньовічних сагах та юридичних текстах як «13-сесні».
                    Слово «сеси»
                    означає рульову лавку з двома веслами, а у «Скулделева 5» 26 весел, тож він є 13-сесним.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Від оригіналу корабля збереглося 65%. Дно та майже вся сторона лівого борту є неушкодженими, тому
                    відновити
                    відсутню сторону правого борту було відносно легко. Особливістю цього військового корабля є те, що
                    верхні
                    дошки його обшивки були пошкоджені, а потім замінені дошками іншого корабля. Це чудовий приклад
                    ремонту човнів
                    епохи вікінгів. Адже квадратні весельні отвори у «новій» верхній дошці не підходили до розміщення
                    лавок у
                    «Скулделеві 5», саме тому вони закриті дерев'яними дощатими вставками. А потім були вирізані нові
                    круглі
                    отвори на відповідній відстані для встановлення весел.
                </h5>
                <br>
                <h5 class="description layout-left">
                    На сьогодні нашою командою пророблена основна частина досліджень та підготовчих робіт для
                    будівництва корабля
                    в повний розмір, також створені креслення та робочий макет у пропорції 1:10 розміром 1,73 м на 0,25
                    м. У
                    найближчій перспективі плануємо будівництво корабля в повний розмір.
                </h5>
            </div>
        </div>
    </div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryGaroldImages"></ngx-gallery>
</div>
