<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/expeditions/frankivsk-galich/3.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Івано-Фракнівськ - Галич</h1>
      <h5>Пройдений шлях – 30 км. Екіпаж – три особи. Експедиція стартувала з міста Івано-Франківськ гірською річкою
        Бистриця за течією та продовжилася річкою Дністер проти течії до міста Галич.
      </h5>
    </div>
  </div>
</div>

<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <h5 class="description layout-left">
          Суттю експедиції було символічне з’єднання водним шляхом Івано-Франківська з давньою столицею Галич, завдяки
          якому велика частина України отримала свою назву на довгі віки. Також для команди проєкту було важливо
          випробувати човен на воді та здобути досвід в умовах проходження гірською річкою та проти течії Дністром.
        </h5>
        <br>
        <h5 class="description layout-left">
          Першого ж дня експедиції стало зрозуміло, що стерно скандинавського типу не справляється з умовами гірської
          річки, і воно було замінене на звичайне весло, аналогічне до тих, які використовувались на Русі. Це весло
          надало човну значно більшої маневреності. Гірській річці властиві круті повороти та перекати, де треба чітко
          відчувати фарватер та проходити по оптимально глибокому та основному місцю течії, щоб бічна течія не викинула
          човен на берег. Після входження у Дністер ситуація змінилась: скандинавське кермо дало човну достатню
          маневреність, швидкість руху знизилась, але човен стабільно просувався в бік Галича. Через кожних кілька
          кілометрів на шляху траплялись перекати, які на веслах практично неможливо пройти. Тож доводилось
          використовувати прийом, що здавна застосовувався на українських річках, – бурлакування. Навіть проти стрімкої
          течії на перекатах човен чудово тримав курс, легко тягнувся канатом, а от іти через перекат попри берег,
          навіть коли глибина води сягала до колін, було дуже важко. А під самим Галичем перекати взагалі малопрохідні і
          з різким діагональним фарватером. Однак, незважаючи на труднощі, експедиція зуміла досягти поставленої мети.
        </h5>
      </div>
    </div>
  </div>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
