<div class="page-header" data-parallax="true"
     style="background-image: url('./assets/img/norway/norway_elysaveta.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>1022 - 2022 </h1>
            <h2>Єлизавета Київська - королева Норвегії</h2>
            <br>
            <h2>Тисячоліття спільності.</h2>
            <br/>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h5 class="description layout-left">
                    Року 2022 виповнюється тисяча років з дня народження Єлизавети, доньки Великого князя Київського
                    Ярослава І (Мудрого), дружини короля Норвегії Гарольда ІІІ Суворого. В честь цієї дати Фонд Дороги
                    Предків, в рамках проекту <a href="http://www.ancestorsroad.com.ua/embassy">Посольство Королівства
                    Руського</a>, спільно з Українською громадою Східної
                    Норвегії, поставили собі за мету відзначити цю знакову подію для двох народів України та Норвегії,
                    будівництвом двох човнів, реконструкцій, з іменами <a
                        href="https://uk.wikipedia.org/wiki/%D0%84%D0%BB%D0%B8%D0%B7%D0%B0%D0%B2%D0%B5%D1%82%D0%B0_%D0%AF%D1%80%D0%BE%D1%81%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0?fbclid=IwAR1_ByqITeQL6XPKwR_a5MwrjIfDbW-MuBdazJXPYL9xEEzAl0_sKLaoEqw">Єлизавета
                    Київська</a> та <a
                        href="https://uk.wikipedia.org/wiki/%D0%93%D0%B0%D1%80%D0%B0%D0%BB%D1%8C%D0%B4_III_%D0%A1%D1%83%D0%B2%D0%BE%D1%80%D0%B8%D0%B9?fbclid=IwAR3H578dhpKQvCNmeWQOa6CEQNHIpWBKl0DoTt4jOsLlOy9Jm6eQncdoC-8">Гарольд
                    Суворий</a>. Кораблем
                    Єлизавета Київська планується візит в Норвегію, де презентуватиметься Українська середньовічна
                    культура періоду Руського королівства ХІ ст.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Протягом двох років проходитиме будівництво човнів. Кожен охочий може побачити процес роботи або
                    долучитись до будівництва.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Реконструюватиметься серія костюмів (королеви Єлизавети, воїнів, бояр і ремісників), а також
                    елементів побуту королівства Русі ХІ ст., для повноцінної презентації епохи Українського
                    середньовіччя в Норвегії в 2022році.
                </h5>
                <h5 class="description layout-left">
                    Для презентації Української середньовічної культури в Норвегії, створиться ряд науково популярних
                    відеороликів, для окреслення цілісної картини передумов та тісних культурних і політичних взаємин
                    українського і норвезького народів, в контексті Європейської культурної спільноти.
                </h5>
                <br>
                <h5 class="description layout-left">
                    <li>Детальніше про Корабель Єлизавета Київська</li>
                    <li>Будівництво корабля Гарольд Суворий</li>
                    <li>Інформація про проект Посольство Королівства Руського</li>
                </h5>
                <h2 class="description layout-left">Детальніше (зовнішні посилання):</h2>
                <h5 class="description layout-left">
                    <br>
                    <li>Біографія Гарольд Суворий</li>
                    <li>Біографія Єлизавета Київська</li>
                    <li>Історичні контакти між Україною та Норвегією</li>
                </h5>
            </div>
        </div>
    </div>
</div>
