<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/participation-rs.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>ДОПОМОГТИ ФОНДУ</h1>
      <h5>Вважаєш, що фонд робить великі справи і хочеш бути причетним до них – зроби грошовий внесок. Так ти підтримаєш
        щоденну діяльність фонду.
      </h5>
    </div>
  </div>
</div>
<div class="container tim-container">
  <div id="typography">
    <div class="row">
      <div class="typography-line">
        <div class="tim-title">
          <h3>Рахунок в гривнях</h3>
        </div>
        <h5>
          <b>Найменування організації:</b> БО ДОРОГИ ПРЕДКIВ БФ
        </h5>
        <h5>
          <b>Код отримувача:</b> 42622703
        </h5>
        <h5>
          <b>Назва банку: </b> IВАНО-ФРАНКIВ.ФIЛIЯ АТ КБ "ПРИВАТБАНК"
        </h5>
        <h5>
          <b>Рахунок отримувача в форматі IBAN:</b> UA023366770000026006052538439
        </h5>
        <h5>
          <b>Валюта:</b> UAH
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="typography-line">
        <div class="tim-title">
          <h3>Рахунок в USD</h3>
        </div>
        <h5>Реквізити підприємства/Company details Назва підприємства/company Name ДОРОГИ ПРЕДКIВ БФ IBAN Code
          UA583366770000026002052549110 Назва банку/Name of the bank JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV,
          01001, UKRAINE SWIFT code банку/Bank SWIFT Code PBANUA2X Адреса підприємства/Company address UA 76000
          Iвано-Франкiвська м Iвано-Франкiвськ вул Вовчинецька б.167кв.59 Банки кореспонденти/Correspondent banks
          Рахунок в банку кореспонденті/Account in the correspondent bank 001-1-000080 SWIFT Code
          банку-кореспондента/SWIFT Code of the correspondent bank CHASUS33 Банк кореспондент/Correspondent bank JP
          Morgan Chase Bank, New York ,USA
          ------------------------------------------------------------------------------------------------------------------------------------------------------
          Рахунок в банку кореспонденті/Account in the correspondent bank 890-0085-754 SWIFT Code
          банку-кореспондента/SWIFT Code of the correspondent bank IRVT US 3N Банк кореспондент/Correspondent bank The
          Bank of New York Mellon, New York, USA</h5>
      </div>
    </div>
    <div class="row">
      <div class="typography-line">
        <div class="tim-title">
          <h3>Рахунок в Євро</h3>
        </div>
        <h5>Назва підприємства/company Name ДОРОГИ ПРЕДКIВ БФ IBAN Code UA783366770000026007052525203 Назва банку/Name
          of the bank JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE SWIFT code банку/Bank SWIFT Code
          PBANUA2X Адреса підприємства/Company address UA 76000 Iвано-Франкiвська м Iвано-Франкiвськ вул Вовчинецька
          б.167кв.59 Банки кореспонденти/Correspondent banks Рахунок в банку кореспонденті/Account in the correspondent
          bank 400886700401 SWIFT Code банку-кореспондента/SWIFT Code of the correspondent bank COBADEFF Банк
          кореспондент/Correspondent bank Commerzbank AG, Frankfurt am Main, Germany
          ------------------------------------------------------------------------------------------------------------------------------------------------------
          Рахунок в банку кореспонденті/Account in the correspondent bank 6231605145 SWIFT Code
          банку-кореспондента/SWIFT Code of the correspondent bank CHASDEFX Банк кореспондент/Correspondent bank
          J.P.MORGAN AG, FRANKFURT AM MAIN, GERMANY</h5>
      </div>
    </div>
  </div>
</div>