<div class="section section-goals">
  <div class="container">
    <div class="tim-title">
      <h1 class="text-center"><b>Наша місія</b></h1>
    </div>
    <div class="tim-title">
      <h4 class="text-center"><b>Ми віримо: дитячі мрії важливо втілювати в життя, і ми невпинно працюємо над цим!</b></h4>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-12 center">
      <iframe height="450" width="100%" allowfullscreen="" frameborder="0" src="https://drive.google.com/file/d/1EHEYF3ZxpAcm81kH3d93ebSdL6bcxWpd/preview"></iframe>
    </div>
  </div>
</div>

