<div class="section section-goals">
  <div class="container">
    <div class="tim-title">
      <h1 class="text-center"><b>Наша місія</b></h1>
    </div>
    <div class="tim-title">
      <h4 class="text-center"><b>Фонд, активуючи нові методи надання доступу до  історії та культури, сприяє розвитку
        екосистеми креативності подачі  історії та культури в Україні, яка уможливлює породження та розповсюдження в
        суспільстві нових сенсів та цінностей на основі спільного історичного контексту, а також сприяє збереженою
        культурної спадщини та розвитку української культури в контексті актуальних світових тенденцій.</b></h4>
    </div>
    <!--<div class="col-xs-8 col-sm-6 col-md-12 center">
      <iframe height="450" width="100%" allowfullscreen="" frameborder="0" src="https://drive.google.com/file/d/1EHEYF3ZxpAcm81kH3d93ebSdL6bcxWpd/preview"></iframe>
    </div>-->
  </div>
</div>

