<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/ship-project.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Середньовічна корабельня</h1>
      <h3>Коштів зібрано на реалізацію проекту</h3>
      <br/>
      <div>
        <p><ng2-odometer [number]="number" [theme]="'default'" [config]="{ animation: 'slide', format: 'd',
        theme: 'train-station', value: 2, auto: true }"></ng2-odometer>грн.</p>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <h2 class="title">Ідея проекту</h2>
          <h5 class="description">
            Створити ремісничий майданчик, на якому побудувати два 17-метрові човни, що є реконструкцією
            давніх середньовічних суден руського та скандинавського типів будівництва IX–XIV ст.
          </h5>
          <br>
          <div>
            <iframe height="450" width="100%" allowfullscreen="" frameborder="0" src="https://drive.google.com/file/d/1EHEYF3ZxpAcm81kH3d93ebSdL6bcxWpd/preview"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
      <br/><br/>
  <div class="section section-dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <h2 class="title">Про проект</h2>
          <h5 class="description">
            Проект «Середньовічна корабельня» створений для того, щоб привернути  уваги громадськості до
            надбань культурної спадщини нашого краю. З цією метою вже навесні  2019-го року на території міського озера
            буде облаштована справжня Середньовічна Корабельня. Кожен житель Івано-Франківська, а також гість,
            зможе долучитись до творення двох кораблів, руського та скандинавського типів. На території проекту,
            крім суднобудівельного, будуть облаштовані і ремісничі майстерні, в яких проводитимуться майстер-класи
            для дітей та дорослих по середньовічному ремеслу. Будування двох човнів епохи Середньовіччя є першим
            проектом в Україні такого масштабу, що в свою чергу приверне до нашого міста увагу, як такого, в якому
            створюються вагомі креативні культурні проекти. Також  захід покликаний максимально залучити громадськість
            до створення цих культурних об’єктів, та участі в навчальних та розважальних програм будівельного майданчика,
            що спонукатиме молодь долучитись та проявити свій потенціал.
          </h5>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <h2 class="title">Попердній досвід</h2>
          <h5 class="description">
            Попередній досвід. У 2018 році власним коштом було збудовано човен скандинавського типу довжиною 5,5 м
            за середньовічними технологіями, на якому вирушили в експедицію з Івано-Франківська річками Бистрицею
            та Дністром вгору по течії до міста Галича. Таким чином з’єднали два центри Прикарпаття: сучасний і
            середньовічний - Івано-Франківськ і Галич. Попри всі труднощі і перешкоди, все-таки змогли досягти
            своєї мети, зрозумівши, що справжня ідея в поєднанні з бажанням і наполегливою працею сильніша за будь-які
            труднощі. І ми готові продовжувати втілювати мрії!
          </h5>
          <iframe width="100%" height="450" src="https://www.youtube.com/embed/K54PI3IIvCo?autoplay=1"></iframe>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>