<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/ship-project.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Середньовічна корабельня</h1>
      <h3>Коштів зібрано на реалізацію проекту</h3>
      <br/>
      <div>
        <p><ng2-odometer [number]="number" [theme]="'default'" [config]="{ animation: 'slide', format: 'd',
        theme: 'train-station', value: 2, auto: true }"></ng2-odometer>грн.</p>
      </div>
    </div>
  </div>
</div>

<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <h2 class="title">Середньовічна корабельня</h2>
        <h5 class="description layout-left">
          Соціальний майданчик для досліджень, експедицій та будівництва кораблів епохи України-Русі IX-XIV ст., а також
          для розвитку і популяризації всіх дотичних культурно-мистецьких надбань цього періоду. Ми вдихаємо нове життя
          у давні традиційні ремесла України, для того щоб:
          <p></p>
          <li>
            відновити і продовжити розвиток ремісничих традицій кораблебудування та інших ремесел нашої давнини;
          </li>
          <li>презентувати багатство нашої середньовічної культури в інтерактивній формі для громадян України та гостей
            з-за кордону;
          </li>
          <li>привернути увагу суспільства до надбань історії та культури України-Русі через відновлення середньовічного
            суднобудування та суміжних ремесел.
          </li>
          <br>
          Проєкт базується на експериментальній археології. Завдяки знайденим артефактам, письмовим джерелам, творам
          образотворчого мистецтва ми пізнаємо архаїчні технології. У роботі використовуємо копії давніх інструментів і
          експериментально досліджуємо водні шляхи предків.
        </h5>
        <br>
      </div>
    </div>
  </div>
</div>

<section id="one" class="wrapper style2">
  <div class="inner">
    <div class="grid-style">
      <div>
        <div class="box">
          <div class="image fit">
            <img src="/assets/img/projects/credo/1-resize.jpg" alt=""/>
          </div>
          <div class="content">
            <header class="align-center">
              <p>Будівництво кораблів </p>
              <h2>Човен «Кредо»</h2>
            </header>
            <p> За період від жовтня 2017 до вересня 2018 року було створено креслення та збудовано з дерева човен
              довжиною 5,5 м, шириною 1,65 м, висотою бортів 0,70 м. Основною метою проєкту було отримати досвід
              будівництва човнів із застосуванням клінкерної технології.
            </p>
            <footer class="align-center">
              <a [routerLink]="'/boat-credo'" class="button alt">Дізнатися більше</a>
            </footer>
          </div>
        </div>
      </div>

      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/img/projects/garoldFace.jpg" alt=""/>
          </div>
          <div class="content">
            <header class="align-center">
              <p>Будівництво кораблів</p>
              <h2>«Гарольд» та «Єлизавета»</h2>
            </header>
            <p> Кораблі Гарольда Сигурдсона і Єлизавети Київської є символами королівського подружжя, яке шлюбними узами
              тисячу років тому поєднало історію України та Норвегії. </p>
            <footer class="align-center">
              <a [routerLink]="'/garold-elizabeth'" class="button alt">Дізнатися більше</a>
            </footer>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="inner">
    <div class="grid-style">
      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/img/projects/frankivsk-galych.jpg" alt=""/>
          </div>
          <div class="content">
            <header class="align-center">
              <p>Експедиція</p>
              <h2>Івано-Франківськ–Галич</h2>
            </header>
            <p> Пройдений шлях – 30 км. Екіпаж – три особи. Експедиція стартувала з міста Івано-Франківськ гірською
              річкою Бистриця за течією та продовжилася річкою Дністер проти течії до міста Галич.
            </p>
            <footer class="align-center">
              <a [routerLink]="'/frankivsk-galich'" class="button alt">Дізнатися більше</a>
            </footer>
          </div>
        </div>
      </div>

      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/img/projects/dovbanka/1.jpg" alt=""/>
          </div>
          <div class="content">
            <header class="align-center">
              <p>Будівництво кораблів</p>
              <h2>Довбанка з нашивними бортами</h2>
            </header>
            <p>Довжина – 6 м, ширина – 1,3 м, висота – 0,6 м. Три пари весел плюс стернове весло. Вміщає 5-8 чоловік.</p>
            <footer class="align-center">
              <a [routerLink]="'/dovbanka'" class="button alt">Дізнатися більше</a>
            </footer>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
