<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/our-events.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Наші заходи</h1>
            <h5>Благодійний Фонд «Дороги Предків» створив ряд заходів, за якими Ви можете підтримати реалізацію та
                діяльність проектів організації
            </h5>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h5 class="description layout-left">
                    Обравши будь-який з перерахованих нижче заходів, Ви отримаєте незабутні враження дотикнувшись до
                    історії
                    тисячолітньої давнини і таким чином підтримаєте один з поточних проектів фонду.
                </h5>
                <br>
                <h3 class="description layout-left"><b> Подорож річковими шляхами</b></h3>
                <br>
                <h5 class="description layout-left">
                    Пропонуємо подорож давньоруським човном річкою Дністер для дорослих та дітей.
                    Ночівля у
                    шатрах, приготування їжі за середньовічними рецептами ,човни, занурять вас у епоху давнини . Такий
                    відпочинок
                    дає змогу не лише відійти від повсякденного життя, а й веде до пізнання нашої історії та культури
                    зсередини.
                </h5>
                <ngb-accordion #acc="ngbAccordion">
                    <ngb-panel title="Правила участі у заході">
                        <ng-template ngbPanelContent>
                            <ul class="layout-left">
                                <p>
                                    Подорож проводиться за попередньою домовленістю.
                                    У подорож входить : середньовічний човен у супроводі інструкторів;Інструктаж з техніки
                                    безпеки; захисне спорядження; харчування (середньовічні рецепти); ночівля у шатрах.
                                </p>
                                <p>
                                    Також ви можете додатково замовити прокат спального спорядження і транспорт для
                                    групи.</p>
                            </ul>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <h5 class="description layout-left"> Сезон подорожей обмежений у часі, тому телефонуйте та бронюйте вже
                    сьогодні!</h5>
                <h5 class="description layout-left"> За детальною інформацією зв’яжіться з
                    нами:</h5>
                <h6 class="description layout-left"> Email: dorohypredkiv@gmail.com </h6>
                <h6 class="description layout-left"> Тел.+38 0671561492</h6>
            </div>
        </div>

        <h3 class="description layout-left"><b>Погулянка на березі річки</b></h3>
        <br>
        <h5 class="description layout-left">
            Надаєте перевагу спокійним звукам природи перед шумом масових заходів? Хочете поєднати культурне
            дозвілля з відпочинком на природі?
            Влаштуйте вилазку разом з друзями, колегами по роботі або родиною, на берег річки, куштуючи страви
            середньовічної кухні, з прогулянкою на човнах з минулого та практичними заняттями з давніх ремесел,що
            передавались з покоління у покоління більше тисячі років.
        </h5>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Правила участі у заході">
                <ng-template ngbPanelContent>
                    <ul class="layout-left">
                        <p>
                            Захід проводиться для груп за попередньою домовленістю.
                            У програму входить: інструктаж з техніки безпеки, захисне спорядження, інструктор,
                            катання на давньоруських човнах, обід,цікаві розповіді про давні річкові шляхи,
                            середньовічний побут.
                        </p>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <h5 class="description layout-left"> За детальною інформацією зв’яжіться з нами:</h5>
        <h6 class="description layout-left"> Email: dorohypredkiv@gmail.com </h6>
        <h6 class="description layout-left"> Тел.+38 0671561492</h6>

        <h3 class="description layout-left"><b>Прогулянка на давньоруському човні</b></h3>
        <br>
        <h5 class="description layout-left">
            Втомились від буденності?Хочете нових вражень та емоцій?
            Ви отримаєте таку можливість взявши участь у «прогулянці на човнах». Спокійна атмосфера, свіже повітря,
            краса Дністровських пейзажів та середньовічний човен, подарують вам незабутні емоції.
            Прогулянка на човнах розрахована як для дорослих так і для дітей, а особливо для школярів, так як крім
            відпочинкового, цей захід несе ще й пізнавальний характер. Сівши у човен кожен бажаючий матиме змогу
            повеслувати і навчитись керувати човном взявши у руки стерно. Це чудова можливість відчути себе частиною
            команди, діяти в унісон та стати єдиним цілим з човном відчуваючи його маневри, так як це робили наші
            предки.
        </h5>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Правила участі у заході">
                <ng-template ngbPanelContent>
                    <ul class="layout-left">
                        <p>
                            Захід проводиться для груп (за попередньою домовленістю).
                            У програму входить: інструктаж з техніки безпеки, захисне спорядження, інструктор, катання
                            на
                            середньовічних човнах, цікаві розповіді про давні річкові шляхи.
                        </p>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Тривалість заходу – 2 год.">
                <ng-template ngbPanelContent>
                    <ul class="layout-left">
                        <li>- прибуття на локацію</li>
                        <li>- інструктаж з техніки безпеки</li>
                        <li>- прогулянка на середньовічному човні</li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <h5 class="description layout-left"> За детальною інформацією зв’яжіться з нами:</h5>
        <h6 class="description layout-left"> Email: dorohypredkiv@gmail.com </h6>
        <h6 class="description layout-left"> Тел.+38 0671561492</h6>

        <h3 class="description layout-left"><b>Середньовічне ремесло (практичні заняття)</b></h3>
        <br>

        <hr>
        <h5 class="description layout-left">
            {{ seeMore ? text : text.substr(0, max) }}
            <ng-container *ngIf="text.length> max">
                <a class="text-primary" (click)="seeMore = !seeMore;">{{ seeMore ? 'згорнути' : 'показати більше'}}</a>
            </ng-container>
        </h5>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        <ng-container *ngIf="seeMore">
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel title="Ковальство">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            <p>
                                Ковальство - одне з найстаріших народних ремесел. Із справжнім горном та шкіряними
                                міхами,
                                виготовленими за традиційною технологією, майстер навчить Вас кувати цікаві вироби з
                                металу,а також познайомить зі знаряддями для роботи. І, безперечно, Ви зможете
                                переконатися
                                на власному досвіді, що ковальство – нелегка справа, а справжній коваль – на вагу
                                золота!
                                Ставши помічником коваля – Ви надасте своєму виробу потрібної форми, вкладете в нього
                                щось
                                своє, унікальне, бо зробите це своїми руками!
                                Замовляйте майстер-клас на шкільну екскурсію, корпоративне свято, чи інші свята.
                            </p>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Гончарство">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            Слово “гончар” походить від “горна” і “чарувати” – той, що горно чарує. Так, справжній
                            майстер на гончарному крузі перетворить разом з Вами грудочку м`якої глини на справжній
                            виріб. Ваші руки самі будуть творити ваш задум: чи то глечик, а може вийде горнятко чи
                            вазочка для красивої квітки. За невеличкий проміжок часу Ви створите виріб, який неодмінно
                            збережете і згадка про ці приємні хвилини творчої праці залишаться у Вас надовго.
                            Майстер-клас з гончарства доповнить шкільну екскурсію, колоритно розбавить весільне та
                            корпоративне свято.
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Лялька-мотанка">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            Для створення ляльки-мотанки наші пращури використовували підручний матеріал. Все, що
                            траплялося
                            в домі з текстилю і було не потрібне, йшло в діло: шматки старої сорочки, постелі, старий
                            одяг,
                            який залишився з діда-прадіда, стрічки, намисто,або ж сухі квіти, ягоди, тощо. Виготовлення
                            ляльки-мотанки починається з кульки,яку кладеться у полотнинку і зав`язується ниткою. Так
                            формується голівка, прикрашається очіпком, хусточкою як у молодиці, стрічкою як у дівчини,
                            ще й
                            коси можна запрясти. А далі виходить сорочечка, рукава, керсет та прив`язавши на поясі
                            спідницю,
                            запаску чи плахту, маємо ляльку.
                            Цікаво, яка вийде у вас лялька, з якою статурою, емоціями, дівчисько з косами чи
                            лялька-господиня?
                            На майстер-класі кожен учасник виготовляє свою ляльку та забирає її з собою.
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Ткацтво">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            Одним з важливих напрямків національної культури України здавна було ткацтво. Ткацтво можна
                            віднести і до господарської діяльності, і до народного мистецтва. Воно має вікову історію та
                            виплекані багатьма поколіннями глибокі традиції. Виникнення та розвиток ткацтва сталося за
                            умови
                            прогресу культури народу, як духовної, так і матеріальної.
                            Під час майстер-класу ми будемо виготовляти стрічку з ниток на бердечку (невеличкий верстат
                            для
                            ткання крайок).
                            Під час творчого заходу ви зможете навчитись ткати стрічки ( пояси) з ниток в техніці
                            "перебору". Кожен учасник отримає матеріали для ткацтва, нові знання, і як головний
                            результат
                            майстер-класу готовий витвір.
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Валяння з вовни">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            Володіючи технікою цього ремесла, можна створювати оригінальні речі: одяг, аксесуари, вироби
                            для
                            прикрашення будинку, іграшки та багато іншого. Під час майстер-класу ви ознайомитеся з
                            матеріалами та інструментами для валяння, а також зможете оволодіти основами техніки сухого
                            валяння. Прикраси, виготовлені вами під час майстер-класу стануть чудовим доповненням до
                            вашого
                            одягу.
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Дерев’яний човник">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            Часто, дивлячись на якусь водойму, чи то озеро,чи річка,чи навіть дощова калюжа діти хочуть
                            туди
                            запустити якусь гілочку або листочок, дують на нього, роблять хвильки, уявляючи при цьому що
                            спустили на воду маленький човник. Ви матимете таку можливість, зробити власного дерев’яного
                            човника, прилаштувавши до нього вітрило і урочисто спустити на воду, після чого забрати з
                            собою
                            на згадку про яскраві моменти. А процес виготовлення та емоції , які Ви отримаєте під час
                            майстер класу назавжди закарбуються у вашій пам’яті.
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Шкіра">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            Шкіра – це матеріал, який людина використовує з давніх часів, створюючи одяг, взуття, меблі,
                            предмети побуту, прикраси. Технологія обробки шкіри, а також асортимент знарядь, що
                            застосовувалися при цьому, майже подібні в усіх східнослов'янських народів.
                            На майстер класі Ви матимете можливість спробувати власноруч зробити виріб,ознайомитись з
                            технологічними особливостями при роботі зі шкірою, та отримаєте незабутні враження та
                            задоволення від процесу роботи.
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Плетіння канату">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            У давнину наші пращури вирощували різні культури, серед яких також були льон і конопля, з
                            яких в
                            свою чергу виготовляли нитки для в’язання, виготовлення тканини для пошиття одягу, а також
                            для
                            виготовлення канатів.
                            Така річ як канат була не замінимою на господарстві, при будівництві, а особливо в
                            корабельній
                            справі.
                            Тож на майстер класі Ви спробуєте власноруч сплести канат за давньою технологією та з
                            відповідним обладнанням та інструментом для цього.
                            Після такого заняття Ви будете під враженням, та не підете з порожніми руками.
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Столярне ремесло">
                    <ng-template ngbPanelContent>
                        <ul class="layout-left">
                            Дерево – матеріал , без якого важко уявити побут . Без нього також не обходились і наші
                            предки.
                            Серед деревообробного інструменту українських столярів було багато давніх знарядь — сокира,
                            тесло, стамеска, молоток, свердло та ін. Пізніше він поповнився столярним верстатом,
                            рубанком,
                            фуганком. Округлі вироби (колони для церков і ганків, деталі прядок, веретен, дитячі
                            іграшки)
                            столяри виточували на найпростішому токарному верстаті (коловоротці). Для вимірювань
                            застосовували розміряч, косинець, отримач.
                            На даному майстер класі ми зосередимось на виготовленні інструмента (у зменшеному вигляді),
                            без
                            якого не обходився і до сих пір не обходиться жоден тесля, столяр, чи різьбяр. Цей
                            інструмент
                            має назву «киянка» - дерев’яний молоток, який використовували щоб не пошкодити деталі з
                            дерева,
                            або інструмент.
                            Зробивши киянку – Ви зможете забрати її собі у якості сувеніру.
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <h6 class="description layout-left">Груповий майстер-клас з ремесел можна замовити за тел. 0671561492</h6>
        </ng-container>
        <h3 class="description layout-left"><b>Візит на будівельний майданчик</b></h3>
        <br>
        <h5 class="description layout-left">
            Благодійний фонд «Дороги предків» радо запрошує Вас відвідати майданчик для будівництва дерев’яних
            човнів за
            давніми технологіями. Така екскурсія стане пізнавальною для дорослих та дітей. Відвідання будівельного
            майданчика не залишить байдужим нікого і Ви отримаєте відповіді на всі питання щодо будівництва
            середньовічних човнів, а також, всі бажаючі зможуть спробувати попрацювати столярним інструментом,
            коріння
            якого сягають тисячолітньої давнини.
        </h5>
        <h5 class="description layout-left"> Захід для груп проводиться за попередньою домовленістю.</h5>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Тривалість заходу – 2 год.">
                <ng-template ngbPanelContent>
                    <p class="layout-left">Під час відвідування будівельного майданчика ви матимете можливість:</p>
                    <ul class="layout-left">
                        <li>- ознайомитись з технологією будівництва дерев’яних човнів</li>
                        <li>- побачити процес виготовлення давньоруського човна</li>
                        <li>- спробувати попрацювати спеціалізованим столярним інструментом</li>
                        <li>- побачити різницю між скандинавськими та руськими човнами</li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <h5 class="description layout-left"> За детальною інформацією зв’яжіться з нами:</h5>
        <h6 class="description layout-left"> Email: dorohypredkiv@gmail.com </h6>
        <h6 class="description layout-left"> Тел.+38 0671561492</h6>
    </div>
</div>
