<div class="page-header" data-parallax="true"
     style="background-image: url('./assets/img/projects/dovbanka/1-max.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Довбанка</h1>
            <h5>Довжина – 6 м, ширина – 1,3 м, висота – 0,6 м. Три пари весел плюс стернове весло. Вміщає 5-8 чоловік.
            </h5>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h5 class="description layout-left">
                    Слов’ян описували як людей, яких неможливо уявити без човнів. У середні віки територія Русі була
                    заболоченим і
                    залісненим краєм, степи були зарослі віковими непрохідними травами, настільки високими, що вершника
                    на коні не
                    було видно. Битих доріг було не так багато, та й перевозка товарів суходолом була дорогою та
                    незначною. А от
                    човни в усі часи відігравали ключову роль у торгівельному просторі, і це змінилося й донині. Раніше
                    човни
                    слугували основними засобами переміщення товарів та військових формувань. Човен у часи середньовіччя
                    асоціювався з невідомим, але кращим майбутнім – саме з човном асоціювали українську приказку «або
                    пан, або
                    пропав». Тому впродовж віків корабель набув символічного значення – провісник надії.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Є сенс у відновленні давнього ремесла-символу, яке століттями було невід’ємним атрибутом
                    українського побуту
                    та сприяло процвітанню цього регіону. Останнім часом сформувалась помилкова думка про Україну як
                    суто аграрну
                    державу, у якій не було місця для судноплавства, торгівлі та інших речей, пов’язаних з водним
                    транспортом. Хоч
                    якихось 40 років тому велика частина річок використовувалась для судноплавства. Про це не варто
                    забувати,
                    навпаки, треба відновлювати його – спочатку в історичній пам’яті, а в подальшому і на практиці для
                    кращого
                    розуміння історичного минулого та бачення перспектив майбутнього.
                </h5>
                <br>
                <h5 class="description layout-left">
                    З повною реконструкцією побуту й технологій навесні 2019 року розпочалось будівництво човна-довбанки
                    на основі
                    знахідки так званого «старосільського човна», виявленого в річці Стир у 2015 році. Човен довжиною 12
                    м, колода
                    близько одного метра в діаметрі. Човен однодеревка, пробраний зсередини, але покинутий на етапі
                    будівництва з
                    невідомих причин.
                </h5>
                <br>
                <h5 class="description layout-left">
                    Реконструкція човна виготовлена з суцільної тополевої колоди 0,65 м в діаметрі в масштабі 1:2 від
                    натурального
                    розміру. Зі стовбура було вибрано всю деревину до товщини стінок 2 см. Команда реконструкторів з 10
                    чоловік
                    здійснювала будівництво протягом шести днів у лісі, де було повалено дерево. Поселення
                    реконструкторів
                    розміщувалося неподалік від будівельного майданчика, де команда проживала в шатрах, дуже схожих на
                    середньовічні, їжу готували на вогні. Впродовж дня роботу над човном переривали тільки сніданок,
                    обід та
                    вечеря, під час яких реконструктори вели цікаві розмови біля багаття. А після смачної вечері і
                    довгих розмов
                    всіх накривала холодна березнева ніч, а десь під ранок починав добряче пробирати морозець. За час
                    будівництва
                    команда будівельників пережила і шторм, і сніг з дощем, проте більшість часу було хоч холодне, але
                    вже весняне
                    сонечко, яке зігрівало не так теплом, як своєю присутністю. На другому етапі роботи над човном його
                    на деякий
                    час замочували у водоймі, після чого над відкритим вогнищем проводили розвертання бортів, що
                    збільшило ширину
                    човна до 0,9 м. Пізніше до заготовки човна-довбанки кованими заклепками закріпили ряд дошок.
                </h5>
            </div>
        </div>
    </div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
