<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <link href="/documentation/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="container mt-40">
    <h1 class="text-center"><b>Долучитися до реалізації проектів</b></h1>
    <div>
        <h6 class="text-center margin-top">За проектами фонду стоїть велика спільнота людей, які дарують свій час, кошти
            або просто
            розповідають про проекти фонду своїм друзям. Змінити світ може кожен. Давай робити це разом!</h6>
    </div>
    <section id="portfolio">
        <div class="container">
            <div class="row row-0-gutter">
                <!-- start portfolio item -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/participation-rs.jpg" alt="img02" class="img-responsive"/>
                            <figcaption>
                                <h2>ДОПОМОГТИ ФОНДУ</h2>
                                <p>Вважаєш, що фонд робить великі справи і хочеш бути причетним до них – зроби грошовий
                                    внесок. Так ти підтримаєш щоденну діяльність фонду.</p>
                                <a [routerLink]="['/help-found']"></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- end portfolio item -->
                <!-- start portfolio item -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/participation-rs-4.jpg" alt="img02" class="img-responsive"/>
                            <figcaption>
                                <h2>ПІДТРИМАТИ ПРОЕКТ</h2>
                                <p>Обирай проект, який тобі імпонує найбільше і допоможи команді фонду втілити його.</p>
                                <a href="https://docs.google.com/forms/d/1CFR902UsMWKiMCZngG74snQ2mH5-JBmyVmKe7vvJKjc/viewform?fbclid=IwAR34WmLvx1kTvDbBBejwHcKUHmh86JrZep2hEH-pLdYVDrVl9cL6LaUZn7A&edit_requested=true" target="_blank">Більше</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- end portfolio item -->
            </div>
            <div class="row row-0-gutter">
                <!-- start portfolio item -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/participation-rs-3.jpg" alt="img02" class="img-responsive"/>
                            <figcaption>
                                <h2>СТАТИ ПАРТНЕРОМ</h2>
                                <p>Цінності вашої компанії чи організації збігаються з цінностями фонду? Пишіть нам –
                                  будемо раді співпраці.</p>
                                <a href="https://docs.google.com/forms/d/1CFR902UsMWKiMCZngG74snQ2mH5-JBmyVmKe7vvJKjc/viewform?fbclid=IwAR34WmLvx1kTvDbBBejwHcKUHmh86JrZep2hEH-pLdYVDrVl9cL6LaUZn7A&edit_requested=true" target="_blank">Більше</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/participation-rs-2.jpg" alt="img02" class="img-responsive"/>
                            <figcaption>
                                <h2>НАШІ ЗАХОДИ</h2>
                                <p>Благодійний Фонд «Дороги Предків» створив  ряд заходів, за якими Ви  можете підтримати  реалізацію та діяльність проектів  організації.</p>
                                <a [routerLink]="['/our-events']"></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
