<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hover Effect Style</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
</head>
<body>
<!------------------ Hover Effect Style : Demo - 6 --------------->
<div class="container mt-40">
  <h1 class="text-center"><b>Долучитися до реалізації проектів</b></h1>
  <div>
    <h6 class="text-center margin-top">За проектами фонду стоїть велика спільнота людей, які дарують свій час, кошти або просто
      озповідають про проекти фонду своїм друзям. Змінити світ може кожен. Давай робити це разом!</h6>
  </div>
  <div class="row mt-30">
    <div class="col-md-6 col-sm-6">
      <div class="box6">
        <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-1.jpg" alt="">
        <div class="box-content">
          <h3 class="title">Допомогти фонду</h3>
          <span class="post">Вважаєш, що фонд робить великі справи і хочеш бути причетним до них – зроби грошовий внесок.
            Так ти підтримаєш щоденну діяльність фонду.
          </span>
          <ul class="icon">
            <li><a href="#" class="fa fa-handshake-o"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="box6">
        <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-2.jpg" alt="">
        <div class="box-content">
          <h3 class="title">Підтримати проект</h3>
          <span class="post">Обирай проект, який тобі імпонує найбільше і допоможи команді фонду втілити його.</span>
          <ul class="icon">
            <li><a href="#" class="fa fa-handshake-o"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="box6">
        <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-3.jpg" alt="">
        <div class="box-content">
          <h3 class="title">Стати волонтером</h3>
          <span class="post">Час і знання – найцінніші ресурси, і ти теж можеш ними поділитися. Приєднуйся до спільноти
            Дороги предків!</span>
          <ul class="icon">
            <li><a href="#" class="fa fa-handshake-o"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="box6">
        <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-3.jpg" alt="">
        <div class="box-content">
          <h3 class="title">Стати партнером</h3>
          <span class="post">Цінності вашої компанії чи організації збігаються з цінностями фонду?
            Пишіть нам – будемо раді співпраці.</span>
          <ul class="icon">
            <li><a href="#" class="fa fa-handshake-o"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</body>
</html>
