<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/road-of-ancestors-fund.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h2>СТАТУТ БЛАГОДІЙНОЇ ОРГАНІЗАЦІЇ «БЛАГОДІЙНИЙ ФОНД «ДОРОГИ ПРЕДКІВ»</h2>
        </div>
    </div>
</div>
    <ngb-accordion #acc="ngbAccordion">        
    <ngb-panel title="1. ЗАГАЛЬНІ ПОЛОЖЕННЯ">
      <ng-template ngbPanelContent>
        <ul>
          <li>1.1 БЛАГОДІЙНА ОРГАНІЗАЦІЯ «БЛАГОДІЙНИЙ ФОНД «ДОРОГИ ПРЕДКІВ»
                (надалі - Фонд) є недержавною добровільною благодійною організацією, утвореною у формі
                благодійного фонду.</li>
          <li>1.2 Фонд заснований і діє відповідно до Конституції України, Закону України «Про
                благодійну діяльність та благодійні організації», чинного законодавства України та цього Статуту.</li>
          <li>1.3 Фонд є благодійною організацією яка самостійно визначає сфери, види, місце
            (територію), строки і бенефіціарів благодійної діяльності в установчих документах, благодійних
            програмах або інших рішеннях органів управління.</li>
          <li>1.4. Фонд при здійсненні своєї діяльності не має на меті одержання прибутку.</li>
          <li>1.5. Фонд набуває статусу юридичної особи за законодавством України з моменту його
              державної реєстрації, має самостійний баланс, від власного імені набуває особисті майнові та
              немайнові права, виступає у правовідносинах, несе обов’язки, виступає у якості позивача i
              відповідача у судових органах, має відокремлене майно, рахунки в установах банків.</li>
          <li>1.6. Фонд здійснює свою діяльність на засадах законності, гуманності, спільності інтересів
              та рівності прав учасників, гласності та добровільності.</li>
          <li>1.7. Фонд не має права надавати благодійну допомогу політичним партіям або від імені
              політичних партій , а також брати участь у виборчій агітації.</li>
          <li>1.8. Діяльність Фонду має суспільний характер, не суперечить його взаємодії з органами
              державної влади, не позбавляє права на отримання державної підтримки.</li>
          <li>1.9. Фонд має право мати круглу печатку, кутовий штамп, фірмові бланки зі своїм
              найменуванням, власну символіку. Символіка фонду реєструється в установленому чинним
              законодавством України порядку.</li>
          <li>1.10. Фонд відповідає за своїми зобов’язаннями в межах свого майна, на яке відповідно до
              чинного законодавства України може бути накладене стягнення.</li>
          <li>1.11. Держава, її органи та засновники Фонду не відповідають по зобов’язаннях Фонду, як і
              Фонд не відповідає по зобов’язаннях держави, її органів, а також своїх засновників.</li>
          <li>1.12. Найменування Фонду українською мовою:
            <ul class="disc">
              <li>повне найменування:</li>
              <li>українською мовою: <b>БЛАГОДІЙНА ОРГАНІЗАЦІЯ «БЛАГОДІЙНИЙ ФОНД
                «ДОРОГИ ПРЕДКІВ»</b></li>
              <li>англійською мовою: <b>CHARITABLE ORGANIZATION «CHARITABLE FOUNDATION «
                DOROHY PREDKIV»;</b></li>
              <li>скорочене найменування:</li>
              <li>українською мовою: <b>БО «БЛАГОДІЙНИЙ ФОНД «ДОРОГИ ПРЕДКІВ»;</b></li>
              <li>англійською мовою: <b>CO «CHARITABLE FOUNDATION«DOROHY PREDKIV ».</b></li>
            </ul>
          </li>
          <li>1.13. Місцезнаходження Фонду: 76007, м. Івано-Франківськ, вул. Вовчинецька, буд.167,
                кв.59.</li>
        </ul>    
      </ng-template>
    </ngb-panel>    
    <ngb-panel title="2. ЦІЛІ ТА СФЕРИ БЛАГОДІЙНОЇ ДІЯЛЬНОСТІ ФОНДУ">
      <ng-template ngbPanelContent>
        <ul>
          <li>2.1. Метою Фонду є розвиток та збереження історико-культурної і духовної спадщини. А
              також розвиток законних інтересів громадян у сферах: освіти, охорони здоров'я, екології, охорони
              довкілля та захисту тварин, прав людини і громадянина та основоположних свобод, здійсненню
              державних, регіональних, місцевих та міжнародних програм, спрямованих на поліпшення
              соціального, соціально-економічного становища в Україні та підвищення ролі культурної,
              соціальної діяльності населення.</li>
          <li>2.2. Предметом діяльності фонду є діяльність в інтересах суспільства відповідно до мети та
              завдань передбачених цим Статутом та законодавством України.</li>
          <li>2.3.Основними цілями та сферами діяльності фонду є:<ul class="disc"><li>
            здійснення благодійної діяльності в інтересах громадян, суспільства;
            </li>
            <li>стимулювання економічного росту і розвитку економіки України та її окремих регіонів і
                підвищення конкурентоспроможності України;</li>
            <li>здійснення просвітницької діяльності у сфері культури, релігії, історії, педагогіки,
                психології та інших сферах життєдіяльності та сприяння створенню умов для доступності
                необхідних знань у різних галузях суспільного життя;</li>
            <li>сприяння обороноздатності та мобілізаційній готовності країни, захисту населення у
                надзвичайних ситуаціях мирного і воєнного стану;</li>
            <li>надання допомоги для організації та фінансуванні видавничої діяльності, та питань
                діяльності Організації, видання інформаційних бюлетенів, публікацій та навчальних матеріалів;</li>
            <li>сприяння навчанню та розвитку, а також надання допомоги талановитим та творчим дітям,
                молоді;</li>
            <li>сприяння соціальній адаптації дітей-сиріт і дітей групи ризику шляхом навчання їх
                необхідним життєвим і професійним навикам і розвитку особи дитини;</li>
            <li>сприяння зміцненню престижу і ролі сім'ї в суспільстві;</li>
            <li>сприяння діяльності у сфері профілактики і охорони здоров'я дітей, а також пропаганди
                здорового способу життя, поліпшення морально-психологічного стану дітей;</li>
            <li>проведення конференцій, семінарів, зустрічей, виставок, конкурсів, свят а також інших
                масових заходів з питань охорони здоров’я, навколишнього природного середовища, науки,
                культури та освіти;</li>
            <li>сприяння охороні і збереженню культурної спадщини, історико-культурного середовища,
                пам'яток історії та культури, місць поховання;</li>
            <li>сприяння розвитку охорони здоров'я, масової фізичної культури, спорту і туризму,
                пропагування здорового способу життя;</li>
            <li>сприяння розвитку культури, в тому числі реалізації програм національно-культурного
                розвитку, доступові всіх верств населення, особливо малозабезпечених, до культурних цінностей
                та художньої творчості;</li>
            <li>реалізація благодійних заходів щодо забезпечення зайнятості населення, в т.ч. організація
                на добровільних засадах населення для участі у вирішенні суспільних питань;</li>
            <li>сприяння у заснуванні центрів добровільної праці, зростанню ролі добровільної праці у
                вирішенні суспільних проблем;</li>
            <li>надання благодійної допомоги дитячим будинкам та дитячим будинкам сімейного типу,
                притулкам для неповнолітніх, школам-інтернатам, реабілітаційним центрам, центрам соціально-
                психологічної реабілітації дітей, дитячим лікарням, поліклінікам, а також установам виконання                
                покарань;</li>
            <li>надання благодійної допомоги державним медичним закладам та лікувальним установам;</li>
            <li>активна співпраця з міжнародними організаціями, фондами з питань розробки спільних
                проектів у галузях економіки, освіти, культури, спорту, туризму, медицини, інформації, а також
                участь у проектах із соціально-економічних питань;</li>
            <li>сприяння веденню культосвітньої роботи серед населення в засобах масової інформації з
                метою пропаганди ідей загальнолюдських цінностей, ідеалів добра, милосердя й добродійності;</li>
            <li>фінансування проектів, створення нових і підтримка існуючих проектів, створених для
                покращення життя та комфорту для дітей та молоді;</li>
            <li>фінансування проектів, створення нових і підтримка існуючих, що стосуються будівель,
                споруд, стадіонів, майданчиків, дитячих будинків та ін.;</li>
            <li>сприяння розвитку природно-заповідного фонду та природоохоронної справи.</li>
            </ul>
          </li>
          <li>2.4.В межах здійснення статутної діяльності у визначених сферах Фонд має право:
            <ul class="disc">
              <li>надавати благодійну допомогу фізичним особам, неприбутковим організаціям,
                територіальним громадам, будь-яким юридичним особам, що одержують допомогу для досягнення
                цілей, визначених Законом України «Про благодійну діяльність та благодійні організації;</li>
              <li>здійснювати проведення конференцій, семінарів, зустрічей, тренінгів, масових заходів, що
                сприяють розвитку охорони здоров’я, масової фізичної культури, спорту й туризму, пропагуванню
                здорового способу життя, підвищенню рівня моралі, культури, патріотичності, та духовності;</li>
              <li>отримувати, транспортувати власними або орендованими транспортними засобами та
                використовувати за цільовим призначенням гуманітарну допомогу, а також відправляти
                гуманітарну допомогу до інших держав у порядку, передбаченому Законом України “Про
                гуманітарну допомогу”;</li>
              <li>утворювати відповідно до чинного законодавства свої відділення, філії та представництва;</li>
              <li>об'єднуватися з іншими благодійними організаціями у спілки, асоціації та інші об'єднання,
                що створюються на добровільних засадах і сприяють виконанню статутних завдань;</li>
              <li>організовувати збір благодійних пожертвувань та внесків від фізичних та юридичних осіб
                України, іноземних держав та міжнародних організацій;</li>
              <li>самостійно вирішувати питання про подання благодійної допомоги її набувачам,
                використовувати цільові пожертвування, що подаються благодійниками на реалізацію благодійної
                програми згідно з умовами цього пожертвування;</li>
              <li>постійно визначати форми, об'єкти, суб'єкти та обсяги благодійної допомоги;</li>
              <li>відкривати рахунки (у національній та іноземній валютах) в установах банків;</li>
              <li>створювати відокремлені підрозділи, бути засновником та учасником інших благодійних
                організацій, а також спілок, асоціацій, інших добровільних об’єднань, здійснювати спільну
                благодійну діяльність;</li>
              <li>вносити пропозиції і порушувати клопотання перед органами державної влади і місцевого
                самоврядування, а також іншими особами стосовно виконання мети і статутних завдань Фонду;</li>
              <li>брати участь у розробці, громадському обговоренні, експертизі та моніторингу
                регуляторних та інших нормативно-правових актів, що стосуються мети і статутних завдань
                Фонду;</li>
              <li>представляти інтереси та захищати права учасників Фонду;</li>
              <li>встановлювати і розвивати гуманітарні і професійні зв’язки в Україні та інших країнах,
                обмінюватися інформацією, волонтерами і спеціалістами з відповідними організаціями України та
                іноземних держав;</li>
              <li>самостійно затверджувати і виконувати благодійні програми, в тому числі на підставі
                пожертвувань та угод про благодійну допомогу;</li>
              <li>поширювати інформацію про діяльність Фонду, пропагувати свої ідеї, мету і завдання;</li>
              <li>укладати договори та інші правочини з метою виконання статутних завдань Фонду з
                органами державного управління та місцевого самоврядування, іншими юридичними особами,
                громадянами та об’єднаннями громадян;</li>
              <li>проводити, сприяти проведенню та брати участь у міжнародних, національних і місцевих
                конференціях, семінарах та інших освітніх, наукових і просвітніх заходах з питань, пов’язаних із
                метою Фонду;</li>
              <li>організовувати конкурси, благодійні фестивалі, концерти, аукціони, ярмарки та інші
                благодійні заходи у встановленому законодавством порядку;</li>
              <li>встановлювати почесні відзнаки для осіб, які мають заслуги в здійсненні статутних
                завдань Фонду;</li>
              <li>створювати і підтримувати електронні інформаційні ресурси в мережі Інтернет, які
                освітлюють діяльність Фонду;</li>
              <li>бути учасником інших благодійних організацій;</li>
              <li>мати власну символіку;</li>
              <li>популяризувати своє ім'я (назву), символіку;</li>
            </ul>
          <li>2.5. Фонд здійснює благодійну діяльність у наступних формах:
            <ul>
              <li>2.5.1. Надання одноразової фінансової, матеріальної, організаційної та іншої допомоги (в
              тому числі надання грантів).</li>
              <li>2.5.2. Надання систематичної фінансової, матеріальної, організаційної та іншої допомоги.</li>
              <li>2.5.3. Фінансування конкретних цільових програм.</li>
              <li>2.5.4. Надання допомоги на підставі укладених договорів (контрактів) про благодійну
                діяльність.</li>
              <li>2.5.5. Дарування або надання дозволу на безоплатне (пільгове) використання
                (користування) об’єктів власності.</li>
              <li>2.5.6. Надання допомоги особистою працею, послугами чи передачею результатів особистої
                творчої діяльності працівників Фонду або осіб, залучених Фондом на договірних засадах,
                набувачам.</li>
              <li>2.5.7. Прийняття на себе витрат по безоплатному, повному або частковому утриманню
                об’єктів благодійництва.</li>
              <li>2.5.8. Участь у наданні грантів, інших благодійних пожертв і фінансової допомоги фондам
                громад, а також сприяння наданню такої допомоги фондам громад від фізичних і юридичних осіб,
                міжнародних організацій;</li>
              <li>2.5.9. Сприяння меценатській діяльності, обміну і поширенню інформації, пов’язаних з
                метою і цілями Фонду;</li>
              <li>2.5.10. Участь у дорадчих органах, громадських обговореннях, консультаціях, експертизі
                нормативно-правових актів, а також заходах з моніторингу та оцінки, що стосуються мети і цілей
                Фонду;</li>
              <li>2.5.11. Надання дозволу на використання своєї назви, емблеми, символіки;</li>
              <li>2.5.12. Публічний збір благодійних пожертв;</li>
              <li>2.5.13. Управління благодійними ендавментами;</li>
              <li>2.5.14. Виконання заповітів, заповідальних відказів і спадкових договорів для благодійної
                діяльності;</li>
              <li>2.5.15. Проведення благодійних аукціонів, негрошових лотерей, конкурсів та інших
                благодійних заходів, не заборонених законом.</li>
            </ul>
          </li>
        </ul>    
      </ng-template>
    </ngb-panel>              
    <ngb-panel title="3. ПРАВА ТА ОБОВ’ЯЗКИ ФОНДУ">
      <ng-template ngbPanelContent>
        <ul>
          <li>3.1. Відповідно до статутних завдань та чинного законодавства Фонд має право:
          <ul>
            <li>Самостійно вирішувати питання про надання благодійної допомоги її набувачам,
              використовувати цільові пожертвування, що надаються благодійниками на реалізацію благодійних
              програм згідно з умовами цих пожертвувань.</li>
            <li>3.1.2. Самостійно визначати форми, об’єкти, суб’єкти та обсяги благодійної допомоги.</li>
            <li>3.1.3. Здійснювати благодійну діяльність спільно з фізичними та юридичними особами на
                засадах, визначених чинним законодавством України.</li>
            <li>3.1.4. Бути членом та/або засновником інших благодійних організацій, об’єднуватися у
                спілки, асоціації та інші об’єднання, що створюються на добровільній основі та сприяють
                виконанню статутних завдань Фонду.</li>
            <li>3.1.5. Обмінюватися інформацією, знаннями та досвідом щодо здійснення благодійної
                діяльності, а також фахівцями та спеціалістами Фонду з відповідними благодійними організаціями
                як України, так і зарубіжних країн.</li>
            <li>3.1.6. Реалізовувати власні цільові та комплексні благодійні програми, підтримувати
                програми інших благодійних організацій, що не суперечать статутним цілям та завданням Фонду.</li>
            <li>3.1.7. Організовувати збір благодійних пожертвувань та внесків від фізичних та юридичних
                осіб, іноземних держав та міжнародних організацій.</li>
            <li>3.1.8. Відкривати рахунки (у національній та іноземній валютах) в установах банків, мати
                депозитні вклади в установах банків відповідно до чинного законодавства, мати самостійний
                баланс.</li>
            <li>3.1.9. Проводити благодійні не грошові лотереї, благодійні компанії по збору благодійних
                пожертвувань, благодійні масові заходи, благодійні аукціони.</li>
            <li>3.1.10. Засновувати підприємства та організації, суб’єкти підприємницької діяльності для
                досягнення цілей, визначених цим Статутом.</li>
            <li>3.1.11. Набувати у власність, володіти, користуватися і розпоряджатися рухомим і
                нерухомим майном, коштами тощо, мати майнові права у встановленому чинним законодавством
                порядку.</li>
            <li>3.1.12. Укладати у встановленому законом порядку з українськими і зарубіжними
                юридичними та фізичними особами угоди, що не суперечать статутній діяльності Фонду.</li>
            <li>3.1.13. Утворювати відповідно до законодавства України свої відділення, філії та
                представництва.</li>
            <li>3.1.14. Мати власну символіку.</li>
            <li>3.1.15. Популяризувати своє ім'я (назву), символіку тощо.</li>
            <li>3.1.16. Налагодження контактів та співпраця з іноземними юридичними та фізичними
                особами в інтересах Фонду відповідно до передбачених цим Статутом цілей і завдань.</li>
            <li>3.1.17. Інші права згідно з чинним законодавством України.</li>
          </ul>
          </li>
          <li>3.2. Відповідно до статутних завдань та чинного законодавства Фонд має обов’язки:
            <ul><li>3.2.1. Забезпечення ведення своєї діяльності у відповідності до законодавства.</li>
              <li>3.2.2. Забезпечення вільного доступу до своїх звітів, документів про господарську та
                  фінансову діяльність у порядку, передбаченому чинним законодавством України.</li>
              <li>3.2.3. Інші обов’язки, передбачені чинним законодавством України.</li>
            </ul>
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="4. ЗАСНОВНИКИ ТА УЧАСНИКИ ФОНДУ. 
        УМОВИ І ПОРЯДОК ПРИЙНЯТТЯ УЧАСНИКІВ ФОНДУ, ВИБУТТЯ ТА ВИКЛЮЧЕННЯ 
        З НЬОГО. ПРАВА ТА ОБОВ’ЯЗКИ УЧАСНИКІВ ФОНДУ">
        <ng-template ngbPanelContent>
          <ul>
            <li>4.1. Засновниками та учасниками Фонду можуть бути громадяни України, іноземні
              громадяни, особи без громадянства, які досягли 18 років, а також юридичні особи незалежно від
              форм власності, які визнають програмні принципи та Статут Фонду, сплачують внески, виконують
              рішення органів управління Фонду, приймають участь у його діяльності та сприяють досягненню
              ним цілей, визначених цим Статутом.</li>
            <li>4.2. Не можуть бути засновниками та учасниками Фонду органи державної влади та органи
                місцевого самоврядування, а також державні і комунальні підприємства, установи, організації
                України, що фінансуються з бюджету.</li>
            <li>4.3. Засновники Фонду є його учасниками.</li>
            <li>4.4. Особи, які не є засновниками Фонду, можуть бути прийняті до складу учасників Фонду
                в порядку, передбаченому цим Статутом.</li>
            <li>4.5. Прийняття в учасники Фонду здійснюється на підставі письмової заяви за рішенням
                Наглядової ради Фонду. До моменту створення Наглядової ради Фонду рішення про прийняття,
                виключення учасника, встановлення розміру внесків, тощо приймається Загальними зборами
                учасників Фонду.</li>
            <li>4.6. Учасники Фонду сплачують членські внески у розмірі, встановленому Загальними
                зборами.</li>
            <li>4.7. Зміни або доповнення до Статуту у зв’язку із прийняттям осіб до складу учасників
                Фонду чи вибуттям осіб зі складу учасників Фонду не вносяться. Виконавчий орган Фонду веде
                Реєстр учасників Фонду. Факт участі у Фонді фіксується Реєстром учасників Фонду.</li>
            <li>4.8. Наглядова рада Фонду може прийняти рішення про прийняття в учасники Фонду за
                умови, якщо відповідна особа:
              <ul class="disc">
                <li>визнає і дотримується положень Статуту Фонду;</li>
                <li>визнає мету діяльності та завдання Фонду;</li>           
                <li>сприятиме діяльності Фонду;</li>
                <li>надасть не менше двох рекомендаційних листів від учасників Фонду.</li>
              </ul>
            </li>
            <li>4.9. Учасники Фонду - юридичні особи реалізують свої права і обов'язки через своїх
                представників.</li>
            <li>4.10. Учасник Фонду може бути виключений за рішенням Наглядової ради, ухваленим
                більшістю голосів членів Наглядової ради Фонду, у випадках, передбачених п. 5.11 Статуту
                Фонду.</li>
            <li>4.11. Участь у Фонді може бути припинено за рішенням Наглядової ради Фонду без згоди
                виключеного в наступних випадках:
              <ul>
                <li>при неодноразовому недотриманні Учасником вимог Статуту Фонду;</li>                
                <li>вчинення дій, які дискредитують Фонд, завдають шкоди репутації Фонду або інтересам
                    благодійників чи набувачів благодійної допомоги;</li>
                <li>порушення Етичного кодексу Фонду.</li>
              </ul>
            </li>
            <li>4.12. В разі виходу (виключення) із Фонду його учасника внески, сплачені членом Фонду,
                не повертаються.</li>
            <li>4.13. Учасник Фонду має право у будь-який час вийти з нього, письмово попередивши про
                це Наглядову раду Фонду за 30 днів до дня свого виходу. Сума внеску при цьому не повертається.</li>
            <li>4.14. Учасники Фонду мають право:
              <ul>
                <li>4.14.1. брати участь у заходах, які проводить Фонд;</li>
                <li>4.14.2. обирати і бути обраним до органів управління Фонду;</li>
                <li>4.14.3. вносити пропозиції в органи Фонду з питань, які пов’язані з діяльністю Фонду;</li>
                <li>4.14.4. виносити на розгляд органів управління пропозиції та зауваження щодо роботи
                    Фонду;</li>
                <li>4.14.5. приймати участь у підготовці і обговоренні рішень та планів роботи Фонду;</li>
                <li>4.14.6. звертатися із запитами до органів Фонду і одержувати на них відповіді;</li>
                <li>4.14.7. отримувати інформацію з питань діяльності Фонду;</li>
                <li>4.14.8. звертатися до Фонду для захисту своїх прав та інтересів в межах цілей діяльності
                    Фонду;</li>
                <li>4.14.9. вийти в будь-який момент зі складу засновників та учасників Фонду, подавши про це
                    заяву у Виконавчий Орган Фонду за 30 днів до дня виходу;</li>
                <li>4.14.10. користуватись іншими правами, передбаченими цим Статутом.</li>               
              </ul>
            </li>
            <li>4.15. Учасники Фонду зобов’язані:
              <ul>
                <li>4.15.1. дотримуватися положень цього Статуту;</li>
                <li>4.15.2. брати безпосередню участь у діяльності Фонду у формах, передбачених цим
                      Статутом та рішеннями статутних органів Фонду, реалізації його статутних цілей та завдань;</li>
                <li>4.15.3. виконувати доручення, покладені на них Фондом в межах здійснення статутної
                      діяльності;</li>
                <li>4.15.4. сприяти розширенню зв'язків та розповсюдженню інформації про діяльність Фонду;</li>
                <li>4.15.5. пропагувати цілі та мету діяльності Фонду серед потенційних благодійників з метою
                      залучення фінансових засобів;</li>
                <li>4.15.6. надавати Фонду інформацію, необхідну для його діяльності;</li>
                <li>4.15.7. сплачувати вступні та членські внески, розмір і порядок сплати яких визначаються
                      за рішенням Наглядової ради;</li>
                <li>4.15.8. дотримуватися положень Етичного кодексу Фонду;</li>
                <li>4.15.9. виконувати інші обов’язки, передбачені цим Статутом.</li>
              </ul>
            </li>
            <li>4.16. Учасники Фонду або пов’язані з ними особи не мають права одержувати позики або
                  кредити та забезпечення таких позик або кредитів (застава, порука тощо) від Фонду.</li>
            <li>4.17. Бенефіціарами благодійних програм не можуть бути засновники та учасники команди
                Фонду.</li>
            <li>4.18. Порядок вступу та виключення із складу учасників Фонду, а також права та обов’язки
                учасників Фонду можуть регулюватися відповідним положенням, прийнятим Загальними зборами
                учасників Фонду.</li>
          </ul>
        </ng-template>
    </ngb-panel>          
    <ngb-panel title="5. ОРГАНИ УПРАВЛІННЯ ФОНДОМ">
      <ng-template ngbPanelContent>
        <ul>
          <li>5.1. Для забезпечення діяльності Фонду створюються такі органи управління:
            <ul class="disc">
              <li>Загальні збори учасників Фонду;</li>
              <li>Наглядова рада Фонду;</li>
              <li>Директор Фонду.</li>
            </ul>
            <ul>
              <li>5.1.1. Вищим органом управління Фонду є Загальні збори учасників Фонду.</li>
              <li>5.1.2. Виконавчим органом Фонду, який здійснює поточне управління Фондом та
                  забезпечення його фінансово-господарської діяльності є Директор Фонду, який пропонується та
                  обирається Загальними зборами Фонду.</li>
              <li>5.1.3. Контролюючі функції за діяльністю Фонду здійснює Наглядова рада Фонду, яка
                  складається із Голови та членів Наглядової Ради, які обираються Загальними зборами учасників
                  Фонду.</li>
            </ul>
          </li>          
        </ul>      
      </ng-template>
    </ngb-panel>
    <ngb-panel title="6. ЗАГАЛЬНІ ЗБОРИ УЧАСНИКІВ ФОНДУ">
      <ng-template ngbPanelContent>          
        <ul>
          <li>6.1. Вищим статутним органом Фонду є Загальні збори учасників Фонду, що скликаються
              не рідше одного разу на рік.</li>
          <li>6.2. Позачергові Загальні збори учасників Фонду можуть бути скликані на вимогу
              Наглядової ради Фонду або не менше 10 % учасників Фонду. Дату проведення чергових та
              позачергових Загальних зборів учасників Фонду визначає Наглядова рада Фонду. Позачергові
              Загальні збори учасників Фонду не можуть бути призначені пізніше 20 календарних днів після
              надходження відповідної вимоги.</li>
          <li>6.3. Про дату і час проведення Загальних зборів учасників Фонду та порядок денний
              учасникам Фонду повідомляються Наглядовою радою Фонду або учасниками Фонду за вимогою
              яких скликаються позачергові Загальні збори не пізніше ніж за 10 календарних днів до дати
              проведення Загальних зборів. У Загальних зборах учасників Фонду мають право брати участь усі
              учасники Фонду.</li>
          <li>6.4. Загальні збори учасників Фонду є правомочними при участі в їх роботі не менше
              половини учасників Фонду.</li>
          <li>6.5. Рішення Загальних зборів учасників Фонду вважається прийнятим, якщо за нього
              проголосувало більше половини присутніх на зборах учасників Фонду.</li>
          <li>6.6. Учасники Фонду мають право делегувати свої повноваження шляхом призначення
              представників на підставі відповідної довіреності на представництво інтересів. Представник члена              
              Фонду може бути постійним або призначеним на певний строк. Учасник Фонду має право будь-
              коли змінити або відкликати свого представника.</li>
          <li>6.7. Кожний учасник Фонду має при голосуванні один голос.</li>
          <li>6.8. До компетенції Загальних зборів учасників Фонду належить:
            <ul class="disc">
              <li>затвердження Статуту Фонду, а також внесення змін та доповнень до Статуту;</li>
              <li>обрання та відкликання Наглядової Ради Фонду;</li>
              <li>прийняття рішень про набуття та припинення участі Фонду в інших благодійних
                  організаціях або їх об’єднаннях (зокрема асоціаціях, спілках тощо);</li>
              <li>прийняття рішення про порядок призначення, обрання або затвердження членів фонду, їх
                  заміщення, зупинення їх повноважень, припинення їх повноважень (відкликання);</li>
              <li>прийняття рішень про реорганізацію та ліквідацію Фонду;</li>
              <li>затвердження звітів Наглядової ради щодо контролю за цільовим використанням коштів і
                  майна Фонду;</li>
              <li>затвердження звітів Директора Фонду про результати роботи Фонду і виконання його
                  благодійних програм за минулий рік та звітів про результати фінансово-господарської діяльності
                  Фонду;</li>
              <li>затвердження Етичного кодексу Фонду;</li>
              <li>вирішення будь-яких інших питань діяльності Фонду, що не віднесені до виключної
                  діяльності інших органів Фонду.</li>
            </ul>
          </li>
          <li>6.9. Повноваження Загальних зборів учасників Фонду, які не віднесені законодавством
              України до їх виключної компетенції, можуть бути делеговані Наглядовій раді.</li>
        </ul>
      </ng-template>
    </ngb-panel>             
    <ngb-panel title="7. ДИРЕКТОР ФОНДУ">
      <ng-template ngbPanelContent>
        <ul>
          <li>7.1.Директор є посадовою особою Фонду та керує його поточною діяльністю відповідно до
              законодавства, Статуту, а також рішень Загальних зборів ,Наглядової ради Фонду.</li>
          <li>7.2.Директор має повноваження:
            <ul class="disc">
              <li>забезпечувати виконання рішень органів управління Фонду;</li>
              <li>представляти Фонд без довіреності в органах державної влади, органах місцевого
                  самоврядування, судах, а також у відносинах з іншими особами в Україні та інших державах;</li>
              <li>призначати видавати довіреності іншим особам на юридичні дії від імені Фонду;</li>
              <li>укладати договори, здійснювати інші правочини від імені Фонду в межах лімітів
                  фінансування, встановлених Наглядовою радою Фонду;</li>
              <li>відкривати і закривати рахунки Фонду в банках, інших фінансових установах,
                  підписувати банківські та інші фінансові документи;</li>
              <li>затверджувати штатний розпис, приймати і звільняти працівників Фонду,
                  організовувати їх роботу, видавати накази, інструкції та розпорядження, обов’язкові для
                  працівників Фонду;</li>
              <li>приймати рішення щодо інших поточних питань діяльності Фонду та здійснювати інші
                  адміністративні функції, спрямовані на виконання завдань Фонду.</li>
            </ul>
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="8. НАГЛЯДОВА РАДА">
      <ng-template ngbPanelContent>          
        <ul>
          <li>8.1. Контроль за діяльністю органів Фонду здійснює Наглядова Рада Фонду, яка складається
              із Голови та членів Наглядової Ради і обирається Загальними зборами у кількості не менше 5-ти
              осіб. Кількість членів Наглядової Ради може бути визначена окремим рішенням Загальних зборів,
              однак не може становити менше 5-ох осіб.</li>
          <li>8.2. Директор Фонду не може бути членом Наглядової ради.</li>
          <li>8.3. Наглядова рада Фонду скликається не менше чотирьох разів на рік.</li>
          <li>8.4. Склад Наглядової Ради, в тому числі Голова Наглядової Ради, призначається
              (обирається) Загальними зборами учасників Фонду строком на один рік. Склад Наглядової Ради
              підлягає переобранню щорічно. Учасник Фонду не може бути обраний Головою та/або членом
              Наглядової Ради повторно (двічі). В разі, якщо після закінчення строку повноважень членів
              Наглядової Ради, Загальними Зборами з будь-яких причин не прийнято рішення про їх
              переобрання або обрання нового складу Наглядової Ради, повноваження таких членів Наглядової
              Ради продовжуються до моменту прийняття Загальними Зборами рішення про їх переобрання.</li>
          <li>8.5. Членами Наглядової Ради можуть бути тільки учасники Фонду. Члени Наглядової Ради
              не можуть бути членами (учасниками) політичних партій.</li>
          <li>8.6. Голова Наглядової Ради скликає чергові засідання Наглядової Ради не менше ніж 4
              (чотири) рази на календарний рік. На письмову вимогу учасника Фонду або члена Наглядової Ради
              Голова Наглядової Ради скликає позачергове засідання Наглядової Ради протягом десяти
              календарних днів.</li>
          <li>8.7. Засідання Наглядової Ради є правомочними, якщо на засідання присутні більшість її
              членів. Рішення Наглядової Ради є прийнятим, якщо за нього проголосувало не менш ніж
              половина від загальної кількості членів Наглядової Ради.</li>
          <li>8.8. Рішення Наглядової Ради є обов’язковими для виконання Директором Фонду.</li>
          <li>8.9. Наглядова Рада:
            <ul class="disc">
              <li>контролює і регулює діяльності Директора Фонду;</li>
              <li>затверджує благодійні програми Фонду;</li>
              <li>контролює відповідність діяльності Фонду вимогам законодавства;</li>
              <li>контролює використання активів Фонду відповідно до установчих документів;</li>
              <li>визначення конкретних завдань і форм діяльності Фонду;</li>
              <li>управління майном Фонду, делегування іншим органам та особам окремих повноважень з
                  управління майном Фонду;</li>
              <li>затверджує програми діяльності Фонду на рік;</li>
              <li>встановлює ліміти фінансування діяльності Фонду;</li>
              <li>здійснює інші повноваження в межах передбачених Статутом та актами Фонду.</li>
            </ul>
          </li>
          <li>8.10. До моменту обрання членів Наглядової Ради в кількості не менше п’яти осіб
              повноваження Наглядової Ради виконують Загальні збори Фонду.</li>
        </ul>
      </ng-template>
      </ngb-panel>          
    <ngb-panel title="9. ПОРЯДОК ВНЕСЕННЯ ЗМІН І ДОПОВНЕНЬ ДО СТАТУТУ ФОНДУ">
      <ng-template ngbPanelContent>
        <ul>
          <li>9.1. Зміни та доповнення до цього Статуту вносяться за рішенням Загальних зборів Фонду.</li>
          <li>9.2. Рішення на Загальних зборах Фонду про внесення змін та доповнень до Статуту
              приймається 3⁄4 учасників, які беруть участь у Загальних зборах.</li>
          <li>9.3. Внесення змін до Статуту оформляється викладенням Статуту Фонду у новій редакції.</li>
          <li>9.4. Про зміни у Статуті Фонд повідомляє реєстраційний орган у порядку та у строки,
              визначені чинним законодавством України.</li>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="10. ДЖЕРЕЛА АКТИВІВ (ДОХОДІВ), ПОРЯДОК КОНТРОЛЮ І ЗВІТНОСТІ ФОНДУ">
      <ng-template ngbPanelContent>          
        <ul>
          <li>10.1. Фонд має право власності та інші речові права на кошти, земельні ділянки, інше
              нерухоме та рухоме майно, нематеріальні активи, а також інше майно, що придбане на законних
              підставах та є необхідним для здійснення статутної діяльності Фонду.</li>
          <li>10.2. Використання активів (доходів) та правочини Фонду не повинні суперечити актам
              законодавства та цілям благодійної діяльності.</li>
          <li>10.3. Джерелами формування майна та коштів Фонду є:
            <ul>
              <li>10.3.1. коштів або майна, які надходять безоплатно або у вигляді безповоротної фінансової
                  допомоги чи добровільних пожертвувань;</li>
              <li>10.3.2. пасивних доходів;</li>
              <li>10.3.3. коштів або майна, які надходять таким неприбутковим організаціям від ведення їх
                  основної діяльності, з урахуванням положень Податкового кодексу України;</li>
              <li>10.3.4. дотацій або субсидій, отриманих із державного або місцевого бюджетів, державних
                  цільових фондів або в межах технічної чи благодійної, у тому числі гуманітарної, допомоги, крім
                  дотацій на регулювання цін на платні послуги, які надаються таким неприбутковим організаціям
                  або через них їх одержувачам згідно із законодавством з метою зниження рівня таких цін.</li>
            </ul>
          </li>
          <li>10.4. Фонд має право здійснювати відносно майна та коштів, які перебувають у його
              власності, будь-які правочини, що не суперечать його статутним цілям та чинному законодавству
              України.</li>
          <li>10.5. Використання активів (доходів) та правочини не повинні суперечити актам
              законодавства та цілям благодійної діяльності.</li>
          <li>10.6. Розмір адміністративних витрат Фонду не може перевищувати 20 відсотків доходу
              Фонду у поточному році.</li>
          <li>10.7 Доходи (прибутки) та майно або їх частини не підлягають розподілу серед засновників
              (учасників), членів такої організації, працівників (крім оплати їхньої праці, нарахування єдиного
              соціального внеску), членів органів управління та інших пов’язаних з ними осіб.</li>
          <li>10.8. Фінансова діяльність Фонду здійснюється відповідно до вимог чинного законодавства
              України.</li>
          <li>10.9. Фонд користується самостійністю у питаннях прийняття рішень, визначенні умов
              оплати праці працівників Фонду, використанні власних фінансових та матеріальних ресурсів
              відповідно до вимог чинного законодавства.</li>
          <li>10.10. Фонд складає та подає фінансову, статистичну та іншу обов’язкову звітність у
              порядку, встановленому законом.</li>
          <li>10.11. Інформація про структуру та розмір доходів і витрат Фонду, а також умови
              використання його активів для благодійної діяльності не є конфіденційною інформацією або              
              комерційною таємницею.</li>
          <li>10.12. Звітність Фонду може містити інформацію про особу благодійників або бенефіціарів
              за умови згоди благодійників, бенефіціарів або їх правонаступників чи законних представників,
              якщо інше не визначено законом.</li>
          <li>10.13. Фонд складає і надає спеціальні звіти благодійникам або їх правонаступникам на
              підставі їх письмових запитів у порядку, встановленому Наглядовою Радою або правочинами
              благодійників.</li>
          <li>10.14. Фонд може вимагати спеціальні звіти від осіб, що отримали від Фонду благодійну
              допомогу, про використання указаної допомоги.</li>
        </ul>
      </ng-template>
      </ngb-panel>          
    <ngb-panel title="11. ЗАБЕЗПЕЧЕННЯ ПРОЗОРОСТІ ТА НЕЗАЛЕЖНОСТІ ДІЯЛЬНОСТІ ФОНДУ">
      <ng-template ngbPanelContent>            
        <ul>
          <li>11.1. Діяльність Фонду здійснюється на принципах прозорості та відкритості.</li>
          <li>11.2. Основні відомості про Фонд та його діяльність мають розміщуватися на його
              персональному сайті. Усі ресурси сайту Фонду мають бути відкритими для будь-якої зацікавленої
              особи. На сайті має бути розміщена щонайменше наступна інформація:
            <ul class="disc">
              <li>нормативно-правові акти, які регулюють діяльність Фонду;</li>
              <li>річні звіти про діяльність Фонду;</li>
              <li>відомості про засади фінансової політики Фонду;</li>
              <li>стандарти відносин з особами, що фінансують діяльність Фонду (благодійниками).</li>
            </ul>            
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="12. ПРАВА БЛАГОДІЙНИКІВ">
      <ng-template ngbPanelContent>
        <ul>
          <li>Благодійники, які передали або мають намір передати своє майно, кошти та інші
              матеріальні цінності до Фонду, мають право:
            <ul class="disc">
              <li>одержувати на їх вимогу звіт про використання зазначених майна, коштів та цінностей;</li>
              <li>якщо майно, кошти та інші матеріальні цінності передані за цільовим призначенням,
                  звіт про їх використання подається благодійнику в обов'язковому порядку;</li>
              <li>отримувати інформацію про персональний склад органів управління Фонду;</li>
              <li>знайомитись із останньою фінансовою звітністю Фонду (річною та квартальною);</li>
              <li>отримувати належне професійне ставлення до них з боку персоналу Фонду;</li>
              <li>на збереження конфіденційності інформації про них та зроблені ними благодійні
                  внески.</li>
            </ul>
          </li>
        </ul>      
      </ng-template>
    </ngb-panel>              
    <ngb-panel title="13. ВІДОКРЕМЛЕННІ ПІДРОЗДІЛИ ФОНДУ">
      <ng-template ngbPanelContent>            
        <ul>
          <li>13.1. Державна реєстрація відокремлених підрозділів (філії, представництва) Фонду
              здійснюється в порядку, визначеному чинним законодавством України.</li>
          <li>13.2. Відділення, філії, Фонду діють на підставі положення, що приймаються Загальними
              зборами Фонду. Положення про філії, представництва Фонду не повинні суперечити Статуту
              Фонду.</li>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="14. ПІДСТАВИ ТА ПОРЯДОК РЕОРГАНІЗАЦІЇ АБО ЛІКВІДАЦІЇ ФОНДУ,
        ПОРЯДОК РОЗПОДІЛУ ЙОГО АКТИВІВ У РАЗІ ПРИПИНЕННЯ ДІЯЛЬНОСТІ">
      <ng-template ngbPanelContent>
        <ul>
          <li>14.1. Припинення діяльності Фонду здійснюється шляхом його ліквідації або реорганізації:
            <ul class="disc">
              <li>за рішенням Загальних зборів Фонду (рішення на Загальних зборах Фонду про припинення 
                  його діяльності шляхом ліквідації або реорганізації приймається більшістю не менше як у 3/4 голосів);</li>
              <li>за рішенням суду;</li>
              <li>в інших випадках, встановлених чинним законодавством України.</li>
            </ul>
          </li>        
          <li>14.2. Під час реорганізації  Фонду його права та обов’язки переходять до правонаступників. 
            Правонаступниками Фонду у разі її реорганізації може бути одна чи кілька благодійних організацій.</li>
          <li>14.3. Фонд не може бути реорганізований в юридичну особу, метою діяльності якої є одержання прибутку.</li>
          <li>14.4. Для здійснення ліквідації Фонду утворюється ліквідаційна комісія, до якої переходять повноваження 
            з розпорядження майном Фонду відповідно до чинного законодавства України.</li>
          <li>14.5. У разі припинення Фонду (у результаті його ліквідації, злиття, поділу, приєднання або перетворення) 
            активи повинні бути передані одній або кільком неприбутковим організаціям відповідного виду або зараховані 
            до доходу бюджету.</li>
          <li>14.6. Добровільна ліквідація Фонду здійснюється на підставі рішення Загальних зборів, які визначають 
            порядок і строки такої ліквідації відповідно до законодавства України.</li>
        </ul>          
      </ng-template>
    </ngb-panel>          
    <ngb-panel title="15. ЗАКЛЮЧНІ ПОЛОЖЕННЯ">
      <ng-template ngbPanelContent>            
        <ul>
          <li>15.1. Фонд є неприбутковою організацією, яка не ставить перед собою корисливих цілей і не має на меті отримання прибутку.</li>
          <li>15.2. Фонд створено на невизначений строк.</li>
          <li>15.3. Питання щодо діяльності Фонду, невизначені цим Статутом, регулюються відповідно до положень чинного законодавства України 
            та внутрішніх нормативних документів Фонду.</li>
        </ul>
      </ng-template>
    </ngb-panel>            
  </ngb-accordion>