<app-goals></app-goals>
<app-participation></app-participation>
<div class="section-dark section-with-space" id="carousel">
    <div class="container section-with-space">
        <div class="tim-title">
            <h1 class="text-center"><b>Наші проекти</b></h1>
        </div>
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/credo.JPG" alt="Random first slide">
                            <div class="carousel-caption">
                                <p>Човен кредо</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/frankivsk-galich.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <p>Експедиція Франківськ-Галич</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/dovbanka.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Довбанка з нашивними бортами</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/garold-elizaveta.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Будівництво кораблів Гарольд та Єлизавета</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/berlandyk.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Галицький берландик</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>