<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/projects/credo/1-resize.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Човен «Кредо»</h1>
      <h5>За період від жовтня 2017 до вересня 2018 року було створено креслення та збудовано з дерева човен довжиною
        5,5 м, шириною 1,65 м, висотою бортів 0,70 м. Основною метою проєкту було отримати досвід будівництва човнів із
        застосуванням клінкерної технології.
      </h5>
    </div>
  </div>
</div>

<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <h5 class="description layout-left">
          Клінкерна технологія особливо поширена в Балтійському регіоні. Апогеєм клінкерного будівництва човнів став так
          званий
          «період вікінгів». Вікінги досить успішно тероризували велику частину Європи, і не останню роль у цьому
          відіграли кораблі, побудовані за цією технологією.
        </h5>
        <br>
        <h5 class="description layout-left">
          При будівництві цього човна застосовувались матеріали, які використовували давні корабели більше тисячі років
          тому. Човен з’єднаний металевими заклепками, для ущільнення використані овеча шерсть та сосновий дьоготь, який
          є антисептичним і захисним засобом від промокання, а також лляна олія, що служить засобом, який не пропускає
          воду всередину деревини та захищає її від паразитів. Човни такого типу будують з сирої дошки, а для збільшення
          пластичності під час будівництва дошки обробляють водяною парою над відкритим вогнем.
        </h5>
        <h5 class="description layout-left">Заходи за участю човна «Кредо»:
          <li>вересень 2018 р. – на човні «Кредо» була проведена експедиція «Івано-Франківськ – Галич».</li>
          <li>червень 2019 р. – участь у фестивалі «Добриня Фест», м. Коростень.</li>
        </h5>
        <br>
      </div>
    </div>
  </div>
  <div class="section" id="carousel">
    <div class="container">
      <div class="tim-title">
        <h3>Галерея</h3>
      </div>
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <div class="card page-carousel">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/2-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/3-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/4-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/5-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/6-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/7-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/8-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/9-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/10-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/11-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/projects/credo/12-min.jpg">
                <div class="carousel-caption"></div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
