<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="angular-logo">
            <img src="assets/img/logo.gif" alt="">
        </div>
        <div class="navbar-translate">
            <div class="angular-logo angular-logo--is-mobile">
                <img src="assets/img/logo.gif" alt="">
            </div>
            <a class="navbar-brand" [routerLink]="'/home'">Дороги предків</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <ng-container *ngIf="!sidebarVisible">
                        <div class="navbar-translate">
                            <a [routerLink]="'/shipyard'" class="navbar-brand">Проекти</a>
                            <button class="navbar-toggler navbar-burger" type="button"></button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="sidebarVisible">
                        <a [routerLink]="'/shipyard'" class="nav-link" title="Проекти" data-placement="bottom">
                            <p class="d-lg-none">Проекти</p>
                        </a>
                    </ng-container>
                </li>
                <li class="nav-item">
                    <ng-container *ngIf="!sidebarVisible">
                        <div class="navbar-translate">
                            <a [routerLink]="'/our-events'" class="navbar-brand">Заходи</a>
                            <button class="navbar-toggler navbar-burger" type="button"></button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="sidebarVisible">
                        <a [routerLink]="'/our-events'" class="nav-link" title="Заходи" data-placement="bottom">
                            <p class="d-lg-none">Заходи</p>
                        </a>
                    </ng-container>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Приєнайся до нас в Facebook" data-placement="bottom"
                        href="https://www.facebook.com/SerednyovichnaKorabelnya/" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Слідкуй за нами в Instagram" data-placement="bottom"
                        href="https://www.instagram.com/serednyovichnakorabelnya/?utm_source=ig_profile_share&igshid=1vi320flfshr6&fbclid=IwAR0lG4HHQ3i5z7cssvnsez5tR8D6jvohayd_y-ZvstWNgvEalovcRI6gtkU"
                        target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <ng-container *ngIf="!sidebarVisible">
                        <div ngbDropdown class="d-inline-block dropdown">
                            <button class="nav-link transparent" ngbDropdownToggle title="Глянути список">Про
                                нас</button>
                            <div ngbDropdownMenu aria-labelledby="projectsDropDown" class="dropdown-menu">
                                <a [routerLink]="['/description']" class="dropdown-item">Опис</a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="sidebarVisible">
                        <p class="d-lg-none" title="Вся інформація про нас" (click)="aboutUsVisible = !aboutUsVisible">
                            Про нас</p>
                        <div *ngIf="aboutUsVisible">
                            <div class="placing"><a [routerLink]="['/description']" class="d-lg-none">Опис</a></div>
                        </div>
                    </ng-container>
                </li>
            </ul>
        </div>
    </div>
</nav>