<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/team/team.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/logo.gif" alt="">
                    </div>
                    <p class="description">Про нас</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container tim-container">
        <div id="typography">
            <div class="row">
                <div class="typography-line">
                    <div class="tim-title">
                        <h3>Про нас</h3>
                        <br/>
                    </div>
                    <h5>
                        <b> Фонд Дороги Предків </b> ‒ організація створена у 2018 році, з метою сприяння збереженню та
                        розвитку історико-культурної
                        та духовної спадщини України , для забезпечення розвитку інтелектуального та духовного
                        потенціалу особистості і суспільства,
                        збільшення презентабельності українського культурного надбання для громадян та іноземців,
                        підтримки культурного розвитку
                        та інклюзії української самобутності у світовий культурний простір.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="typography-line">
                    <div class="tim-title">
                        <h3>Наша місія</h3>
                        <br/>
                    </div>
                    <h5>
                        Фонд, активуючи нові методи надання доступу до історії та культури, сприяє розвитку екосистеми
                        креативності подачі історії та культури в Україні, яка уможливлює породження та розповсюдження в
                        суспільстві нових сенсів та цінностей на основі спільного історичного контексту, а також сприяє
                        збереженою культурної спадщини та розвитку української культури в контексті актуальних світових
                        тенденцій.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="typography-line">
                    <div class="tim-title">
                        <h3>Пріоритетні напрями діяльності: </h3>
                        <br/>
                    </div>
                    <ul>
                        <li><h5>cтворення ресурсної бази та сприятливих умов для творчої діяльності в
                            історико-культурному середовищі; </h5></li>
                        <li><h5>створення та сприяння утворенню нових партнерств; сприяння формуванню в Україні спільних
                            цінностей громадянського суспільства;</h5></li>
                        <li><h5>підтримка розвитку історико-культурного сектору та сприяння міжкультурному
                            діалогу; </h5></li>
                        <li><h5>сприяння проведенню аналітичної та дослідницької діяльності у сфері культури: історії,
                            археології, етнографії і креативних індустрій в цих напрямках;</h5></li>
                        <li><h5>сприяння розвитку освітніх ініціатив, впровадженню інновацій, цифрових технологій та
                            діджиталізації у історико - культурній сфері;</h5></li>
                        <li><h5>сприяння створенню інноваційного конкурентоспроможного культурного продукту, розвитку
                            дитячої та молодіжної творчості та професійного становлення митців;</h5></li>
                        <li><h5>сприяння збереженню культурної спадщини, промоція цілісного та орієнтованого на майбутнє
                            її розуміння;</h5></li>
                        <li><h5>сприяння інтернаціоналізації української культури</h5></li>
                    </ul>
                </div>
            </div>
          <div class="row">
            <div class="typography-line">
              <div class="tim-title">
                <h3>Стратегічні цілі:</h3>
                <br/>
              </div>
              <ul>
                <li><h5>створення та сприяння творенню культурного продукту</h5></li>
                <li><h5>підсилення ролі історико-культурної спадщини у розвитку суспільства</h5></li>
                <li><h5>інтернаціоналізація українського  історико-культурного продукту</h5></li>
                <li><h5>підсилення інституційної та фінансової спроможності</h5></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>
