<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/embassy/embassy_logo.jpg');">
  <div class="filter"></div>
  <div class="container">
<!--    <div class="motto text-center">
      <h1>Історя що об'єднує</h1>
      <br/>
    </div>-->
  </div>
</div>

<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <h5 class="description layout-left">
          <b>Наша місія:</b> Розповідати історії минулого що об’єднують для створення спільного майбутнього.
          <p></p>
          <br>
          Переплетіння біографічних історій минулого, ниткою долі, сплітає історію Європи в один спільний гобелен
          життєвих перепитій, що переміщує нас в минуле нагадуючи про витоки, які дають творчий потенціал для
          продовження будівництва спільного майбутнього. А щоб ця картина стала повнішою, ми розповідатимемо історії
          королівських родів зв’язаних між собою сімейними вузами з монархами Руського королівства, на прикладі сімейних
          взаємин Великого князя(короля) Русі ХІ ст. Ярослава І Мудрого. У Польщі, Угорщині, Норвегії, Франції,
          Великобритаії, Данії, Швеції, монархами були родичі Ярослава , дружина, доньки, сестри, внучки доклались до
          правління Європейськими державами і є родичами всіх сучасних королівських родів Європи. Тож в рамках проекту
          Посольство Королівства Руського, планується провести візитити з культурною місією до семи держав західної
          Європи (Польщі, Угорщини, Норвегії, Франції, Великобританії, Данії, Швеції) для обновлення історичної пам’яті
          про тісне спільне минуле та укріплення досвідів історичного підгрунтя у подальших взаємодіях України з
          країнами західної Європи.
        </h5>
        <br>
        <h5 class="description layout-left">
          <b>Наше бачення: </b> Посольство Королівства Руського буде розвивати та поширювати знання про історико -
          культурну спадщину України, періоду Руського Королівства. Висвітлюючи питання міжкультурних взаємин і впливів,
          в контексті яких розвивалась загальноєвропейська культурна спільнота, в якій кожна держава, народ чи
          особистість, вкладала свою частку в розвиток тієї Європи, яку ми сьогодні знаємо. Посольство Королівства
          Руського популяризуватиме Середньовічну культуру України на національному та міжнародному рівнях як один з
          важливих центрів загальноєвропейського розвитку .
          <p></p>
          <br>
          Проект буде широковідомий завдяки своєму досвіду в галузі реконструкції артефактів середньовіччя - кораблів,
          транспортних засобів, предметів ужитку на основі археологічних джерел, а також тому, що він є засобом
          поширення інформації про взаємини культур українського середньовіччя з тогочасними країнами та народами.
        </h5>
        <h5 class="description layout-left">
          <b>Поширення </b> відбуватиметься завдяки розповсюдженню інформації в електронних мережах та в фізичному
          втіленні матеріальної культурної спадщини, поєднаній із пропозиціями участі аудиторії як у роботі над
          проектом, так і участі в практичних заходах проекту.
          <p></p>
          <br>
          Бачення буде досягнуто у тісній співпраці з зацікавленими в реалізації цієї мети професійними структурами в
          країні та за кордоном, а також всіма добровольчими суб'єктами.
        </h5>
      </div>
    </div>
  </div>
</div>
