<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/team/team.jpg')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <div class="angular-logo">
                      <img src="assets/img/logo.gif" alt="">
                  </div>
                  <p class="our-team">Наша команда</p>  
                  <h3>БО "БЛАГОДІЙНИЙ ФОНД"ДОРОГИ ПРЕДКІВ"</h3>                
              </div>              
          </div>
      </div>      
  </div>
    <ul>
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/member1.jpg"></div>        
          <div class="info">
            <h4 class="name">Володимир Ільків</h4>
            <p class="personal-info">(Директор БО «Благодійний Фонд «Дороги Предків»)</p>
            <p class="description">Координатор по реконструкційній дослідницькій роботі</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (067) 663914</p>              
            </div>
            <div class="email">
              <a href="mailto:volodymyrilkiv85@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;volodymyrilkiv85@gmail.com</p>
              </a>
            </div>
          </div>
        </div>        
      </li>
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/member2.jpg"></div>        
          <div class="info">
            <h4 class="name">Назар Морозко</h4>
            <p class="personal-info">(Художник)</p>
            <p class="description">Координатор по будівництву кораблів</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (067) 1561492</p>              
            </div>
            <div class="email">
              <a href="mailto:morozko84y@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;morozko84y@gmail.com</p>
              </a>
            </div>
          </div>
        </div>        
      </li>
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/member3.jpg"></div>        
          <div class="info">
            <h4 class="name">Тарас Зень</h4>
            <p class="personal-info">(Журналіст, генеральний директор ТРК «ВЕЖА»)</p>
            <p class="description">Координатор по зв’язках з пресою</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (050) 3964979</p>              
            </div>
            <div class="email">
              <a href="mailto:taraszen@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;taraszen@gmail.com</p>
              </a>
            </div>
          </div>
        </div>        
      </li>
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/avatar.png"></div>        
          <div class="info">
            <h4 class="name">Володимир Березіцький</h4>
            <p class="personal-info">(Директор економічного відділу «Карпативибухпром»)</p>
            <p class="description">Координатор з економічних питань</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (098) 9573412</p>              
            </div>
            <div class="email">
              <a href="mailto:volodya.karpaty@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;volodya.karpaty@gmail.com</p>
              </a>
            </div>
          </div>
        </div>        
      </li> 
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/avatar.png"></div>        
          <div class="info">
            <h4 class="name">Галина Ільків</h4>
            <p class="personal-info">(Графічний дизайнер, бакалавр богослов’я)</p>
            <p class="description">Координатор зв’язків в соцмережах</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (063) 3833108</p>              
            </div>
            <div class="email">
              <a href="mailto:llhal.ijf@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;llhal.ijf@gmail.com</p>
              </a>
            </div>
          </div>
        </div>        
      </li> 
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/avatar.png"></div>        
          <div class="info">
            <h4 class="name">Ольга Сливоцька</h4>
            <p class="personal-info">(Історик)</p>
            <p class="description">Координатор науково-дослідницької роботи</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (095) 6346326</p>              
            </div>
            <div class="email">
              <a href="mailto:olaslivocka@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;olaslivocka@gmail.com</p>
              </a>
            </div>
          </div>
        </div>        
      </li> 
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/avatar.png"></div>        
          <div class="info">
            <h4 class="name">Наталя Андрусів</h4>
            <p class="personal-info">(Сімейний психолог)</p>
            <p class="description">Координатор ремісничого майданчику</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (098) 7109299</p>              
            </div>
            <div class="email">
              <a href="mailto:snv512@ukr.net">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;snv512@ukr.net</p>
              </a>
            </div>
          </div>
        </div>
      </li>        
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/member8.jpg"></div>        
          <div class="info">
            <h4 class="name">Юля Паучек</h4>
            <p class="personal-info">(Молодший науковий співробітник у Івано-Франківському обласному художньому музеї)</p>
            <p class="description">Координатор зв’язків з майстрами</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (097) 6574315</p>              
            </div>
            <div class="email">
              <a href="mailto:yuljapauchek@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;yuljapauchek@gmail.com</p>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/avatar.png"></div>        
          <div class="info">
            <h4 class="name">Михайло Климович</h4>
            <p class="personal-info">(Історик)</p>
            <p class="description">Консультант по середньовічних костюмах</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (095) 0403291</p>              
            </div>
            <div class="email">
              <a href="mailto:jaropolkgalich@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;jaropolkgalich@gmail.com</p>
              </a>
            </div>
          </div>
        </div>
      </li>         
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/member10.jpg"></div>        
          <div class="info">
            <h4 class="name">Ярема Іванців</h4>
            <p class="personal-info">(Директор ГО «Чорна Галич»)</p>
            <p class="description">Координатор зв’язків з реконструкторами</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (097) 9050634</p>              
            </div>
            <div class="email">
              <a href="mailto:yarik.i88@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;yarik.i88@gmail.com</p>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/member11.jpg"></div>        
          <div class="info">
            <h4 class="name">Ірина Грушецька</h4>
            <p class="personal-info">(Макркетолог)</p>
            <p class="description">Менеджер проекту</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (095) 3041592</p>              
            </div>
            <div class="email">
              <a href="mailto:hrushetska.marketing@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;hrushetska.marketing@gmail.com</p>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-container">         
          <div><img class="member img-rounded" src="assets/img/team/member12.jpg"></div>        
          <div class="info">
            <h4 class="name">Василь Івасюк</h4>
            <p class="personal-info">(Лікар-рентгенолог)</p>
            <p class="description">Монтаж відео</p>
            <div class="mobile">              
              <i class="fa fa-phone-square"></i><p>&nbsp;&nbsp;моб:</p>
              <p>&nbsp;&nbsp;+38 (067) 1454243 </p>              
            </div>
            <div class="email">
              <a href="mailto:ivasiukv@gmail.com">
                <i class="fa fa-envelope"></i><p>&nbsp;&nbsp;email:</p>
                <p>&nbsp;&nbsp;ivasiukv@gmail.com</p>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>   
</div>
