<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Головна</a></li>
                    <li><a href="http://blog.creative-tim.com">Статут фонду</a></li>
                    <li><a href="https://www.creative-tim.com/license">Середньовічна корабельня</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">© {{test | date: 'yyyy'}}  Дороги предків</span>
            </div>
        </div>
    </div>
</footer>