<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/projects/lodia/1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Лодія експедиційна </h1>
            <h5>В Україні є багато річок, які споконвіку були торговими та культурними артеріями, завдяки яким
                контактували з
                сусідами та зростала культура Русі.
            </h5>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h5 class="description layout-left">
                    Сьогодні є можливість, щоб ці річки знову понесли своїми водами човни, які відтворюють давню епоху
                    середньовіччя. Цей човен створюється для проведення експедицій та екскурсій річковими шляхами. Він
                    задуманий
                    як презентаційний засіб, який для туристів, а особливо для дітей, міг би наочно, в інтерактивній
                    формі
                    презентувати середньовічну культуру кораблебудування та ходження по водах України і забезпечив би
                    змогу
                    пізнавати свою історію.
                </h5>
                <br>
                <h5 class="description layout-left">
                    З писемних джерел періоду розквіту Русі відомо щонайменше 5 типів човнів, які мали досить широкий
                    діапазон
                    цін. Очевидно, що ціна відповідала складності конструкції та розмірам плавзасобу. Також сьогодні є
                    археологічні знахідки й ілюстрації, які відкривають для нас вигляд та конструктивні характеристики
                    давньоруських човнів та на основі яких і створюється цей човен.
                </h5>
                <h5 class="description layout-left">
                    Човен будується з колоди діаметром 50 см. З неї вибирається вся внутрішня частина і розводяться
                    борти. Для
                    розведення бортів цього човна була застосована технологія, яка не використовувалась в інших
                    регіонах. Вона
                    описана українським етнографом на Чернігівщині на початку XX ст. Також, крім етнографічного опису,
                    ця
                    технологія зафіксована в так званому «човні із Вжища», знайденому на території Чернігівського
                    князівства ХІІ
                    ст. У ньому внутрішня сторона пропалена. У викопану вузьку яму глибиною 20-30 см на всю довжину
                    закладають
                    дрова та пропалюють їх, доки не набереться достатньо грані. Тоді зверху установлюють човен догори
                    дном і
                    прикидають землею, щоб жар і дим не виходили з-під нього. Процедуру повторюють кілька разів, і на
                    кожному
                    етапі розм’якшені борти розтискають в боки вербовими гілками. Пізніше човен розвертають, і за
                    допомогою води,
                    якою систематично зволожують дерево, та відкритого вогню, над яким установлюють човен, розводять
                    його до
                    відповідної ширини, повертаючи з боку в бік. Після закінчення розведення бортів ширина човна
                    становить 95 см,
                    а довжина – 7,40 м. Висота човна дорівнює 30 см. Наступним етапом є встановлення штевнів та нашивка
                    бортів: їх
                    нарощують до висоти 77 см, а тоді вже закріплюють шпангоути, включини та інші дрібні деталі. У кінці
                    човен
                    покривають дьогтем та просушують до повного висихання. Тепер він готовий вирушати в дорогу.
                </h5>
                <br>
            </div>
        </div>
    </div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
