<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/projects/lodia/1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Лодія Галицький Берладник</h1>
            <h5>В Україні є багато річок, які споконвіку були торговими та культурними артеріями, завдяки яким у давнину
                подорожували, перевозили товари, на яких воювали та обмінювались культурними здобутками.
            </h5>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h5 class="description layout-left">
                    Сьогодні є можливість, щоб ці річки знову понесли своїми водами човни, які є відгомоном славної
                    епохи княжого середньовіччя. Цей човен створений для проведення експедицій та екскурсій річковими
                    шляхами. Він задуманий як наочний посібник занурення в епоху князів та лицарів, романтики подорожей
                    і духу командної роботи веслярів та простого побуту на річковому шляху річками України.
                </h5>
                <br>
                <h5 class="description layout-left">
                    З писемних джерел періоду розквіту Русі відомо щонайменше 5 типів човнів. На основі археологічних
                    знахідок, описів та літописних зображень, які відкрили для нас вигляд та конструктивні
                    характеристики давніх човнів на основі яких і створився цей човен.
                </h5>
                <h5 class="description layout-left">
                    В основу човна вмонтувалась колоди яка до розведення мала діаметр 0,5 м. Для розведення бортів цього
                    човна була застосована технологія, яка не використовувалась в інших регіонах світу . Вона описана
                    тільки українським етнографом на Чернігівщині на початку XX ст. Також, крім етнографічного опису, ця
                    технологія зафіксована в так званому «човні із Вжища», знайденому на території Чернігівського
                    князівства ХІІ ст. Одже у викопану вузьку яму глибиною 20-30 см на всю довжину човна закладають
                    дрова та пропалюють їх, доки не набереться достатньо грані. Тоді зверху установлюють човен догори
                    дном і прикидають землею, щоб жар і дим не виходили з-під нього. Процедуру повторюють кілька разів,
                    і на кожному етапі розм’якшені борти розтискають в боки вербовими гілками. Пізніше човен
                    розвертають, і за допомогою води, якою систематично зволожують дерево, та відкритого вогню, над яким
                    установлюють човен, розводять його до відповідної ширини, повертаючи з боку в бік. Після закінчення
                    розведення бортів ширина човна становить 100 см, а довжина – 7,40 м. Висота човна дорівнює 30 см.
                    Наступним етапом є встановлення штевнів та нашивка бортів: їх нарощують до висоти 77 см, а тоді вже
                    закріплюють шпангоути, включини та інші дрібні деталі. У кінці човен покривають дьогтем та
                    просушують до повного висихання. І тепер він готовий вирушати в дорогу.
                </h5>
                <h5 class="description layout-left">
                    Також варто сказати кілька слів про назву човна, тож Берла́дники це - втікачі та біженці різних
                    соціальних верств Русі, переважно південних земель, що покидали батьківщину через утиски різного
                    роду і оселялися в пониззі Дунаю, переважно в молдовському місті Берладь (нині Бирлад, Румунія).
                    Існували впродовж 12 — 13 століть. З 13 століття прямих згадок про берладників у літописах немає,
                    але з'являються повідомлення про «галицьких вигонців». Останні були союзниками Русі у битві на
                    Калці 1223 року. Вигонцями керували воєвода Юрій Домажирич і боярин Володиславич Держикрай. Певна
                    частина істориків вбачає у берладницькій «вольниці» на Придунав'ї прототип українського козацтва 15-
                    18 століть.
                    Відповідно в цього човна ім’я є давнім прототипом козаків піратів та вільнолюбних воїнів 12-13 ст.
                </h5>
                <br>
            </div>
        </div>
    </div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
